[2014-12-02 16:39] sayedihashimi opened #1 "Update index.js to pull from this repo"
Currently [index.js](https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js) is pulling from the old LigerShark repo using `.remote()`. We should update that to pull source files from this repo instead.

[2014-12-02 17:00] sayedihashimi opened #2 "Move wiki"
We should move the wiki entries from https://github.com/ligershark/generator-aspnet/wiki to here.

[2014-12-02 17:00] sayedihashimi opened #3 "Move issues"
We should move issues from https://github.com/ligershark/generator-aspnet/issues to here

[2014-12-02 17:13] sayedihashimi opened #4 "Update travis build to point to this new repo"
We have a travis build which is currently configured on [LigerShark/generator-aspnet](https://github.com/ligershark/generator-aspnet) we should create a new one that will publish from the `release` branch (_yet to be created_) here.

[2014-12-04 03:52] sayedihashimi opened #6 "Update to deploy to npmjs using Sayed's account"
We are publishing with Sourabh's account, we should instead push using Sayed's account

[2014-12-04 03:53] #6 closed, assigned to sayedihashimi

[2014-12-04 03:53] #4 closed, assigned to sayedihashimi

[2014-12-09 20:03] joelmartinez opened #9 "Issue with `kpm restore`"
Running through the [Getting Started](https://github.com/OmniSharp/Kulture#getting-started) guide on the Mac ... unfortunately getting the following error when trying to run `kpm restore` with the site generated by `yo aspnet`. Is the nuget executable being used something that was installed via generator-aspnet, or something else on my system that might be out of date??

[code]

[2014-12-13 18:40] sayedihashimi opened #11 "Subgenerator follow up"
I've merged the PR #8 from @spboyer which has support for creating items as subgenerators. I went ahead and merged it and released it. We can iterate/improve from here.

I noticed the following issues.
- [x] When invoking a generator like `yo aspnet:BowerJson` the resulting file is always placed at the directory root of what yo believes is the project root. This is the folder where you started `yo

[2014-12-17 04:52] #2 closed, assigned to nobody

[2014-12-17 06:22] #1 closed, assigned to sayedihashimi

[2014-12-17 09:45] jphellemons opened #14 "Installation issue"
I don't know if this is on my machine only. I am not experienced enough with the node package manager. I run windows 8.1 x64 by the way. This is my output of npm install -g yo generator-aspnet:

as the log suggested, I have reported this issue to the node github https://github.com/npm/npm/issues/6958 perhaps this has nothing to do with the yeoman aspnet-generator

[2014-12-17 09:59] #14 closed, assigned to nobody

[2014-12-17 18:49] jchannon opened #15 "Nancy Module Sub Generator"
@spboyer do you fancy creating a nancy module, bootstrapper & istatuscodehandler subgenerator?

[2014-12-18 07:28] sayedihashimi opened #16 "Update subgenerators handle file extensions better"
Can we make it such that the subgenerators handle file extensions better? For example if I invoke the MvcController with either of the commands.

```yo aspnet:MvcController MyController```

or

```yo aspnet:MvcController MyController.cs```

Should result in the same thing, MyController.cs being created. With the current implementation with ```yo aspnet:MvcController MyController.cs``` will result

[2014-12-18 07:28] sayedihashimi opened #17 "Better error messages in subgenerators"
The following fail with an error message, the error message is similar in all cases and I've included a sample from one invocation. If these generators require a file name can we make that clear in the error message? Could we also make it more clear in the help that's provided via `--help`? If there are cases where we can default the name lets do that as well. For example HTMLPage can just create

[2014-12-18 07:29] #11 closed, assigned to spboyer

[2014-12-19 19:16] TheDarkTrumpet opened #18 "Generator option for a solution with projects?"
Hey all,

I'm still somewhat new to ASP.net but one pattern I've noticed from the book I've read, for a complete project is:

Solution-Folder/
     Solution-Name.sln
     Project.WebUI
     Project.UnitTests
     Project.Domain

An example of what I mean is:
https://sportsstorevs2011.codeplex.com/SourceControl/latest -- under the 'SportsStore' application.

I'm curious if anyone knows a way to gen

[2014-12-23 14:06] #18 closed, assigned to nobody

[2014-12-26 20:15] peterblazejewicz opened #20 "Html static page template markup update"
I understand that generator template have to follow markup generated by #VisualStudio templates  https://github.com/OmniSharp/generator-aspnet/issues/15#issuecomment-67541749, but can some attributes be added as this tool is used outside of #VisualStudio? Like "lang", etc.

[code]

[code]

https://github.com/h5bp/html5-boilerplate/blob/master/src/index.html

[2014-12-26 20:50] peterblazejewicz opened #22 "The MVC sample layout page's menu is dysfunctional at mobile devices"
The sample page for MVC layout page depends on @Bootstrap and uses responsive features - but is missing JavaScript dependencies. When viewing on smaller screen there one cannot expand hamburger menu.

The problem can be fixed by adding them via CDN resources just like in @Bootstrap getting started example markup:
http://getbootstrap.com/getting-started/#download

[code]

[code]

[2014-12-27 20:02] jasich opened #24 "Needs update to yeoman-generator"
I think I'm getting the same issue as this one from the yeoman-generator [Dependency problem with download > decompress #626](https://github.com/yeoman/generator/issues/626).  I'm guessing that updating the dependency version of yeoman-generator to something greater than or equal to 0.17.3 should work, as that was the solution identified in their issue. I see that generator-aspnet uses version ~0.

[2014-12-29 22:32] sayedihashimi opened #25 "Update travis build to verify all templates"
We already have a [travis build in place](https://travis-ci.org/ligershark/generator-aspnet). When there are changes it's cumbersome to verify. It would be good if travis could verify the following continue to work.

 - ```yo aspnet``` creates content for all generators
 - ```kpm restore``` passes for all generators
 - ```kpm build``` passes for all generators
 - ```k kestrel``` successfully start

[2014-12-29 22:35] sayedihashimi opened #26 "Update to avoid using .remote()"
Migrated issue from https://github.com/ligershark/generator-aspnet/issues/9. See that for full comments.

@shirhatti in the current implementation we are using ```.remote()``` in [index.js](https://github.com/ligershark/generator-aspnet/blob/master/app/index.js) to retrieve the template content. What I've noticed is that when calling ```.remote()``` if the git repo exists on the client cache then

[2014-12-29 22:36] sayedihashimi opened #27 "Create nested options"
Migrated from https://github.com/ligershark/generator-aspnet/issues/16
Original issue submitted by @jchannon

At the moment each option is a list item such as Console App, Web App, MVC App, Nancy App.

I think we should find a way to display the options nested so if you choose Console App you are then given the choice of Nancy Console App and WebApi App

[2014-12-29 22:39] #3 closed, assigned to nobody

[2014-12-29 23:18] #17 closed, assigned to spboyer

[2014-12-30 19:58] suhasj opened #29 "Have a unit test template"
I think we should have a unit test template in the main generator. Right now it is hard to do it since we have to refer to Musicstore tests to setup one from scratch

This template can have
- project.json with xunit and testing wired up
- one basic test with assert statement

[2014-12-30 20:18] peterblazejewicz opened #31 "`webroot` key in `project.json` for ASP.NET web application (not MVC)"
I wonder if `web application` type of project should contain `webroot` key:
https://github.com/OmniSharp/generator-aspnet/blob/master/samples/web/project.json
The `mvc application` project file contains relevant key:
https://github.com/OmniSharp/generator-aspnet/blob/master/samples/mvc/project.json#L2
The articles on **vNext** project states that **VisualStudio** generated template does contain `w

[2014-12-30 20:47] peterblazejewicz opened #33 "NPM package keywords update"
Shouldn't NPM `package.json` `keywords` section be modified to include additional search terms others then default one? Adding 'asp.net' and 'vNext' will certainly help NPM search engine to retrieve package I think:
https://www.npmjs.com/search?q=generator+asp.net
Not listed at all for above query though being primary generator for **ASP.NET**

[2014-12-30 21:41] peterblazejewicz opened #35 "yeoman-generator as development dependency in NPM"
The NPM package contains duplicate reference to `generator-yeoman`:
https://github.com/OmniSharp/generator-aspnet/blob/master/package.json#L33-L42
I think it should only be used in `devependencies` section and removed from `devDependencies`:
https://docs.npmjs.com/files/package.json
(devdependencies section)

[2014-12-30 22:16] #22 closed, assigned to nobody

[2014-12-30 22:28] #20 closed, assigned to nobody

[2014-12-30 22:37] #35 closed, assigned to sayedihashimi

[2014-12-30 22:37] #24 closed, assigned to nobody

[2014-12-30 22:38] #33 closed, assigned to nobody

[2015-01-01 19:20] joelmartinez commented on #9
@sayedihashimi Unfortunately, yes. I'm not really sure how to proceed as my system is obviously in some weird state. Running `brew upgrade kvm` tells me, `kvm-1.0.0-beta1 already installed`.

I suppose I'll have to figure out how to uninstall everything and see where I can go from here

[2015-01-01 19:25] sayedihashimi commented on #9
@davidfowl @loudej any idea what might be going on here? I can't reproduce it myself.

[2015-01-01 19:43] peterblazejewicz commented on #9
@joelmartinez
Can you try if you can successfully restore any of sample projects from [aspnet/Home](https://github.com/aspnet/Home) project?
[code]
If you have all KRE dependencies installed it should install without a problem (at least that is my experience)

Running below from console and posting output could help others to help you fix a problem:
[code]

[2015-01-01 20:18] joelmartinez commented on #9
Thanks for the tips @peterblazejewicz ... I'm getting the same error, unfortunately (same stack trace, but after `OK https://www.nuget.org/api/v2/package/Kestrel/1.0.0-beta1 401ms`). Could it have something to do with the kestrel package?

The output of `kvm list`:
[code]
As there's only one thing listed ... what else would you expect to be listed?

[2015-01-01 20:40] peterblazejewicz opened #39 "Add README.md to MVC samples web root folder"
As per @sayedihashimi comments in this:
https://github.com/OmniSharp/generator-aspnet/issues/31
if PR is merged, will be this OK to also:
- [ ] remove `.gitignore` file
- [ ] add `README.md` with the same content as in PR

to the web root directory of MVC sample?
https://github.com/OmniSharp/generator-aspnet/tree/master/samples/mvc/wwwroot

[2015-01-01 21:24] peterblazejewicz commented on #9
@joelmartinez
My lists (after upgrades):
[code]
You should probably update your KRE:
https://github.com/aspnet/Home/issues/185
This should work via `kvm upgrade` and running it should upgrade your beta version, e.g.:
[code]
you should be able to manully check given version:
[code]

[2015-01-01 21:52] joelmartinez commented on #9
Hmm, running `kvm upgrade` gives me `'KRE-Mono.1.0.0-beta1'`
[code]
And if I try to install the specific version you mentioned:
[code]
Though, I guess by taking a look at the [actual nuget package](https://www.nuget.org/packages/KRE-Mono), `beta1` is the latest one, and the one I have installed.

[2015-01-01 22:01] nosami commented on #9
@joelmartinez You need to be using the dev feeds if you want the latest packages. Looks like you're on the master feed.

```curl https://raw.githubusercontent.com/aspnet/Home/dev/kvminstall.sh | sh && source ~/.kre/kvm/kvm.sh``` should set it up for you.

[2015-01-01 22:05] peterblazejewicz opened #40 "Compiler warning (level 2) CS0108 in HelloMVC based projects"
This is a cross-reference to the issue on home project (no pun intended) of source the code for `HomeController.cs` from the MVC sample:

[Compiler warning (level 2) CS0108 in HelloMVC based projects #253](https://github.com/aspnet/Home/issues/253)

Running `kpm build` shows the user some CS**** warnings, class related structure/design problems, etc. It would be better to avoid such code in boiler

[2015-01-01 22:29] joelmartinez commented on #9
Awesome ... got rid of the custom version of mono I had at `/usr/local/bin/mono`, and 3.10 fixed the problem. Thanks for the tip on [#185](https://github.com/aspnet/Home/issues/185), @peterblazejewicz :)

[2015-01-01 22:29] #9 closed

[2015-01-01 22:30] peterblazejewicz commented on #9
@joelmartinez You're welcome!

[2015-01-01 23:45] peterblazejewicz opened #41 "Add GulpFile subgenerator"
I think that people will start using GulpJS with vNext project very soon, though VS tools appears to officially support GruntJS at the moment.
I'm referring also to this article:
https://www.tattoocoder.com/gulp-typescript-in-asp-net-5/

The contents of template file could be similar to the GruntJS' file template:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/gruntfile.js

fo

[2015-01-02 13:20] peterblazejewicz opened #43 "Add alias "JavaScript" for JavaScript generator"
I think generator should follow its own conventions (`CoffeeScript`) - so maybe there should be `aspnet:JavaScript` subgenerator that can be used as:
[code]
At the moment there is a `JScript` subgenerator - with a name that could not exactly correctly explain what kind of script is to be created in my opinion: http://en.wikipedia.org/wiki/JScript (the link is just for reference)

Aliases to subgen

[2015-01-02 15:19] spboyer commented on #43
I agree, I'll add this in my next PR. Adding a Typescript template as well

[2015-01-02 15:20] spboyer commented on #41
+1 assign to me

[2015-01-02 19:04] sayedihashimi commented on #41
+1
Adding @rustd and @madskristensen in case they have comments regarding the contents of the gulp template.

[2015-01-02 19:05] sayedihashimi commented on #43
+1

[2015-01-02 19:32] peterblazejewicz opened #44 "Unnecessary binaries in web sample"
I think web sample project:
https://github.com/OmniSharp/generator-aspnet/tree/master/samples/web
contains unnecessary build artefacts. They are usually excluded from C#/VisualStudio projects Git managed projects:
https://github.com/github/gitignore/blob/master/VisualStudio.gitignore#L19
The other samples do not have build artefacts right now.

Is it OK for you guys to remove it?

as side note: th

[2015-01-03 17:43] peterblazejewicz commented on #31
The issues is closed via:
https://github.com/OmniSharp/generator-aspnet/commit/f2daaa54e7208f88a562542e0c5b86454d464c20

[2015-01-03 17:43] #31 closed

[2015-01-03 20:41] sayedihashimi opened #45 "Update index.js to pull from release branch instead of master"
Currently [```index.js```](https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js) pulls the latest from the ```master``` branch.

I think we should change to this point to the ```release``` branch instead so that changes are only picked up when we make a release.

Once we implement #26 this will be a moot point, but I think that may take some time.

I'm planning to switch index.js

[2015-01-04 20:48] peterblazejewicz commented on #45
LGTM

[2015-01-04 22:56] spboyer commented on #43
Added.

[2015-01-04 22:56] #43 closed

[2015-01-04 22:56] spboyer commented on #41
Added

[2015-01-04 22:56] #41 closed

[2015-01-05 21:14] spboyer opened #49 "Option for adding Controller or View"
When generating a controller or view should there be an option for creating the other?

i.e.

`yo aspnet:MvcController MyController -v`

generates
MyController.cs & MyController.cshtml

also/or perhaps adding the additional option for names or conventions?

`yo aspnet:Mvc -c MyController -v MyView`

generates
MyController.cs & MyView.cshtml

[2015-01-05 21:16] spboyer commented on #49
or does this get close to scaffolding i.e. - http://blogs.msdn.com/b/webdev/archive/2014/08/21/command-line-scaffolding-for-asp-net-vnext.aspx, is this a path to go down? or another generator?

[2015-01-05 21:45] peterblazejewicz commented on #49
:+1: to the idea

My proposition:
[code]
or:
[code]
to get `Controllers/PersonController.cs`, `/Views/Person/Index.cshtml` (+CRUD), `Model/Person.cs`?

[2015-01-06 20:21] peterblazejewicz opened #50 "Option to generate ViewComponent files"
I've managed to create and run vNext MVC ViewComponent - which is new and in my opinion undocumented fully upcoming feature:

https://gist.github.com/peterblazejewicz/b5915283a5ff23d468a6
http://www.asp.net/vnext/overview/aspnet-vnext/vc#intro

As there is not much documentation yet I'm not perfectly sure what is the best approach to write ViewComponents - but having simple example would be tremen

[2015-01-06 21:13] peterblazejewicz commented on #40
Iv'e made PR to original project:
https://github.com/aspnet/Home/pull/260

[2015-01-07 17:12] #45 closed

[2015-01-13 18:53] peterblazejewicz commented on #40
x-ref: https://github.com/aspnet/Home/pull/268

[2015-01-14 16:00] #40 closed

[2015-01-16 20:23] spboyer opened #53 "Project Templates"
the generator now works off of *samples* for the mvc and web project types.  Proposing that the Empty and Web project templates (from VS2015) be added or replace these as the core project templates for these types.  Would you also like to see a basic MVC API starter template?

@sayedihashimi

[2015-01-16 20:25] spboyer commented on #53
also have the namespace for the project be the [name] argument or an --option when creating

i.e. `yo aspnet myAppName --ns MyNamspace`

defaults to myAppName if --ns not defined

[2015-01-16 20:32] peterblazejewicz commented on #53
As to projects - I'd like to see the same (or nearly the same) list of templates that is available via VS IDE in generators. That would allow me (or any other user keen to learn asp.net ) to just scaffold discussed project template and then follow existing blog/page from MS/evangelist even without installing VS IDE

[2015-02-02 06:04] thepatrick opened #55 "`yo aspnet` just gives me an empty folder"
[code]
Which is great, except while I now have an `MvcApplication` folder, it's empty.

For what it's worth `/Users/patrick/.cache/yeoman` does not exist on my machine (creating it doesn't change anything though)

[code]

[2015-02-02 07:47] peterblazejewicz commented on #55
@thepatrick
Is there any actual download/unarchivea visible in your generator output after `This might take a few moments` and `....\cache\yeoman\`:
[code]

[2015-02-02 10:10] peterblazejewicz commented on #55
NTS: the application code does not handle errors during Yo remote downloads:
https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js#L91-L93

[2015-02-02 21:11] peterblazejewicz commented on #55
@thepatrick
This is a bug - I can recreate it locally  - no output is shown if you are offline:
[code]

[2015-02-02 21:32] peterblazejewicz opened #57 "User friendly error message when generator fails to deliver content"
I've created a PR here:
https://github.com/OmniSharp/generator-aspnet/pull/56
to fix other issue: https://github.com/OmniSharp/generator-aspnet/issues/55

We need a more user friendly error message, communicating what user should do (and then repeat running generator ofc).
At the moment my PR contains a code that shows generic Node JS error, like:
[code]
I could update PR or we could just make a c

[2015-02-02 21:41] sayedihashimi commented on #55
If we fix #26 that should resolve this as well.

[2015-02-02 21:44] peterblazejewicz commented on #55
@sayedihashimi I know, but we need a fix for this one first. It's not a trivial UX problem - I think it should go with current version (I know you will need to build release and resubmit to NPM)

[2015-02-02 21:47] peterblazejewicz commented on #26
The implementation for local templates/files can be as simple as:
https://gist.github.com/peterblazejewicz/9ae54b300b862b4e5320
I'd also think about bringing back tests for templ/files creation process.

[2015-02-03 15:15] #55 closed

[2015-02-03 15:21] spboyer commented on #26
@peterblazejewicz have you done this locally and tested?

[2015-02-03 15:55] spboyer commented on #53
Starter Web project in VS2015 uses SQL Server, cannot use this option on non Windows machines for local development.  Should consider another option that is cross compat.

[2015-02-03 17:54] peterblazejewicz commented on #26
@spboyer Yes, this is from my local branch. Can I bring back default Yeoman's testing structure to project? (by default yeoman-generator scaffolds tests for generator projects). I could investigate this.
I would not add local copy features yet unless covered by tests

[2015-02-05 20:14] spboyer commented on #26
.remote() removed and test coverage added for entire repo in latest PR -> https://github.com/OmniSharp/generator-aspnet/pull/59

[2015-02-05 20:14] #26 closed

[2015-02-05 20:15] spboyer commented on #44
bin folder has been removed from samples folder. in latest PR - https://github.com/OmniSharp/generator-aspnet/pull/59

[2015-02-05 20:15] #44 closed

[2015-02-05 20:18] spboyer commented on #25
@sayedihashimi PR #59 verifies that all `yo aspnet` and `yo aspnet:[generator]` validates. I also added the Travis CI hook, you can see here https://travis-ci.org/OmniSharp/generator-aspnet/builds/49649866 when it fails for example on one of the PR test I put in.

[2015-02-10 21:09] thepatrick commented on #55
Thanks for that

[2015-02-10 21:15] peterblazejewicz commented on #55
@thepatrick You're welcome :)

[2015-02-10 21:17] peterblazejewicz commented on #57
no purpose after ditching remote:
https://github.com/OmniSharp/generator-aspnet/commit/20433874b62c75fe0666f319fc09409cd36f2194
closing

[2015-02-10 21:17] #57 closed

[2015-02-10 21:35] peterblazejewicz opened #63 "Update documentation describing generated samples"
The generator README is missing basic description what we are generating in case of full samples:
[code]
A @VisualStudio contains a small help block in wizard when using given template - we could use something similar I think.

[2015-02-11 02:32] VisualStudio commented on #63
I don't understand because I'm just a program.

[2015-02-11 03:44] GoIIy commented on #63
Me no understand.

[2015-02-11 08:32] peterblazejewicz commented on #63
![newproj1](https://cloud.githubusercontent.com/assets/14539/6143923/ede53c50-b1d0-11e4-807d-0afde6a201ee.jpg)

[2015-02-17 15:49] spboyer opened #66 "What's Missing?"
What's missing? What do you need here to make it better?
- more templates
- larger examples, starters

[2015-02-17 19:28] peterblazejewicz commented on #66
#1
blogs/articles with content built with generator. This will show (or prove) how it could be used in real world scenario of at least something simple
#2
some description on how it fits into C#/.NET envisioned platform - something with clear copy statements what this tool is for, how it can be used on its own, more than on current OmniSharp project landing page:
http://www.omnisharp.net/

So yes,

[2015-02-17 21:49] sayedihashimi commented on #66
Adding @shanselman to see if he had thoughts, I'll reply back as well soon

[2015-02-18 10:02] joaomoreno opened #67 "Nancy generator is outdated"
I used this generator to scaffold a Nancy application. I ended up with something that could be run (`k kestrel`) but not built (`kpm restore; kpm build`). It couldn't find the Nancy namespace when building.

I looked at @jchannon's [generator-nancy](https://github.com/jchannon/generator-nancy) and tried it out. It produced a seemingly healthier scaffold which I can both run and build successfully.

[2015-02-18 10:05] jchannon commented on #67
Pretty sure the dependencies are exactly the same so would be interested to
know what the diffs are

On 18 February 2015 at 10:03, João Moreno <notifications@github.com> wrote:

[2015-02-18 10:07] joaomoreno commented on #67
It seems to only be in the `project.json`:

[code]

[2015-02-18 10:17] jchannon commented on #67
hmm, baffled,

[2015-02-18 10:32] joaomoreno commented on #67
I take it back. Both templates have something broken. I cannot run the template generated by [generator-nancy](https://github.com/jchannon/generator-nancy).

[code]

[2015-02-18 10:37] jchannon commented on #67
what version of kre do you have?

On 18 February 2015 at 10:32, João Moreno <notifications@github.com> wrote:

[2015-02-18 10:38] joaomoreno commented on #67
[code]

[2015-02-18 10:39] jchannon commented on #67
same as me

On 18 February 2015 at 10:38, João Moreno <notifications@github.com> wrote:

[2015-02-18 11:04] joaomoreno commented on #67
You don't see any difference when generating from both templates?

[2015-02-18 11:10] jchannon commented on #67
Ah I get a failure on kpm build with aspnet generator. Hmmm

On 18 February 2015 at 11:04, João Moreno <notifications@github.com> wrote:

[2015-02-18 16:57] sayedihashimi commented on #67
I think there may be an issue with the Nancy generator in aspnet. I was thinking to update all templates to work with ```beta3``` once it gets released.

[2015-02-18 20:00] peterblazejewicz commented on #67
x-ref: #60
x-ref: #59 specifically: https://github.com/OmniSharp/generator-aspnet/pull/59#issuecomment-74432931

[2015-02-19 09:55] joaomoreno opened #68 "Can't restore packages of Unit test project"
In the following session, I generate a unit test project and run `kpm restore`. It fails to locate `xunit.runner.kre`.

[code]

[2015-02-19 09:58] joaomoreno commented on #68
If I replace the following dependency

`"xunit.runner.kre": "1.0.0-beta1-*"`

with

`"Xunit.KRunner": "1.0.0-beta1"`

And add a specific `NuGet.Config` file, then it works.

I figured this out by mimicking what is done in [omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn/tree/master/tests/OmniSharp.Tests).

[2015-02-19 23:57] sayedihashimi commented on #68
xunit is not on nuget.org yet that's why you are running into this. We should probably disable the unit test template in the generators.

[2015-02-23 16:42] bradwilson commented on #68
@sayedihashimi: Sorry, your information is incorrect.

`xunit.runner.kre` was never an officially supported runner. If you want current instructions on how to use xUnit.net inside ASP.NET v5, please see our documentation: http://xunit.github.io/docs/getting-started-aspnet.html

[2015-02-24 11:20] larsw commented on #67
https://github.com/OmniSharp/generator-aspnet/pull/69

Upgraded the MVC, Web and Nancy projects to point at the beta3 bits, but more work has to be done in order to get the generated Nancy projects building (MVC + Web ok).

[2015-02-24 19:14] sayedihashimi opened #70 "Update templates based on VS CTP6"
We should update the project templates to match what we have in VS 2015 CTP6. I briefly spoke to @spboyer and he is investigating this. Will assign the item to him for now. Shayne if you need help let us know.

[2015-02-24 19:20] peterblazejewicz commented on #70
:+1:  (I don't have VS2015 - but as I wrote previously that is what I expect - to have the same content on *nix machine that in VS)

[2015-02-24 19:27] sayedihashimi commented on #70
@peterblazejewicz some templates in VS have options like Auth which we don't have yet in yeoman. Maybe we can add those but maybe we should wait until things stabilize a bit.

I'm chatting with @rustd and @coolcsh to see if we can have a single repo for templates which drive the following.

 - Visual Studio templates
 - Yeoman generators
 - Sublime extensions
 - Shell extensions
 - Whatever other

[2015-02-24 20:22] larsw commented on #50
https://github.com/OmniSharp/generator-aspnet/pull/71 partially solves this.

[2015-02-25 00:20] sayedihashimi commented on #70
@peterblazejewicz FYI you can create a VS2015 CTP6 VM in Windows Azure. Click on the More Images link to get the VS CTP configs.

[2015-02-25 11:56] krippz opened #72 "Fresh install of generator-aspnet not working"
I get this error
[code]

[2015-02-25 15:56] spboyer commented on #72
@krippz please try `npm install -g yo` to fix re: https://github.com/yeoman/generator/issues/762

[2015-02-25 17:54] krippz commented on #72
thanks works like a charm!

[2015-02-25 17:54] #72 closed

[2015-02-26 02:49] spboyer commented on #70
Finding one issue with the web template, EntityFramework isn't fully baked.  Migrations are not complete and are currently mocked in the template.  In order to support on OSX you must use EntityFramework.InMemory, however there is a new/existing error introduced in beta3 - https://github.com/aspnet/HttpAbstractions/issues/203
Looking for ideas here.

Other note: Commented out `"Microsoft.VisualStu

[2015-02-26 03:21] sayedihashimi commented on #70
Thanks @spboyer

Looking for ideas here.

I think some of these issues may take time to solve. Whenever we run into a blocking issue we should create an issue (like you have in this case) and make sure to indicate that it's blocking xplat scenarios.

In the mean time perhaps we should trim down the template to not rely on a DB? Once we get unblocked on the DB then we can add it back and get to par

[2015-02-26 03:44] spboyer commented on #70
@sayedihashimi commented the `Register` link from the _Layout.cshtml and set some ` if mono` on the DB functionality to gain a full web template.

[2015-02-26 03:51] sayedihashimi commented on #70
@spboyer ok sounds good thanks.

[2015-02-27 04:43] sayedihashimi opened #74 "Update Nancy templates for beta3"
The Nancy templates were [removed](8762f105faf017d8e99fa9b8bd9e74c90dc04cbe) because it was not building/running under beta 3. Can we get the Nancy templates updated to the latest?

cc @jchannon @larsw @spboyer

[2015-02-27 04:45] sayedihashimi opened #75 "Update unit test template for beta3"
The unit test template [removed](8762f105faf017d8e99fa9b8bd9e74c90dc04cbe) because it was not building/running under beta 3. We should update to use the latest beta3 packages and the latest xunit packages (_the packages have moved from what we were using before_).

@suhasj can I assign this item to you?

[2015-02-27 04:53] sayedihashimi opened #76 "Blog post on update for beta 3"
Now that we have updated the generators for ```beta3``` we should write a blog post announcing the updates and post it on the [official ASP.NET team blog](http://blogs.msdn.com/b/webdev/).

I'd like to give @spboyer the first chance to be the author on that since he was the main contributor for the updates. If he is not interested then I'd like to see if anyone else is.

[2015-02-27 07:26] larsw commented on #74
I'll look into it.

Your "removed" link (https://github.com/OmniSharp/generator-aspnet/issues/8762f105faf017d8e99fa9b8bd9e74c90dc04cbe) returns 404 by the way.

[2015-02-27 07:52] larsw commented on #74
This should do the trick. https://github.com/OmniSharp/generator-aspnet/pull/77

[2015-02-27 08:12] jchannon commented on #74
Nice one!

On Friday, 27 February 2015, Lars Wilhelmsen <notifications@github.com>
wrote:

[2015-02-27 09:13] larsw commented on #75
Consider it done: https://github.com/OmniSharp/generator-aspnet/pull/78

[2015-02-27 11:19] spboyer commented on #76
I have already started a post. I'll send it over to you when it's completed.

[2015-02-27 16:34] #74 closed

[2015-02-27 16:34] spboyer commented on #74
Closed with https://github.com/OmniSharp/generator-aspnet/pull/77

[2015-02-27 17:07] spboyer commented on #70
v 0.0.31 published. Blog post coming asap.

[2015-02-27 17:07] #70 closed

[2015-02-27 17:08] spboyer commented on #67
Nancy templates updated and publish in v 0.0.31, tested and built with beta3

[2015-02-27 18:17] larsw commented on #63
Ok, what has to be done here (e.g. where should the help texts be output)?

[2015-02-27 19:21] peterblazejewicz commented on #67
:clap: does work. It builds, thanks!

[2015-02-27 19:22] sayedihashimi commented on #67
Thanks everyone, closing now since its released

[2015-02-27 19:22] #67 closed

[2015-02-27 19:28] peterblazejewicz commented on #63
We could update README (or introduce another file) - so one could read for example what is "Web Application" project now - while the release article for CTP 6 states this is "Starter Web":
http://blogs.msdn.com/b/webdev/archive/2015/02/23/aspnet-5-updates-for-feb-2015.aspx
Maybe that is not a task for now yet, as the features are still in flux, but definitely something for near future.
If someone

[2015-02-28 14:16] spboyer commented on #76
submitted.

[2015-02-28 16:05] sayedihashimi commented on #68
We have updated the unit test template. This should no longer be an issue, closing.

[2015-02-28 19:01] sayedihashimi commented on #76
OK I have reviewed and tried to publish, but for some reason I can not publish any longer. I think there is some issue on my side.

I've asked Jeff Fritz if he can help me get it posted. I'll keep you posted.

[2015-03-01 03:00] sayedihashimi commented on #76
It's been posted http://blogs.msdn.com/b/webdev/archive/2015/02/28/asp-net-yeoman-generators-for-beta-3.aspx

[2015-03-01 03:00] #76 closed

[2015-03-01 03:09] luisrudge commented on #66
We need to have a version with gulp + kmon or https://github.com/tugberkugurlu/gulp-aspnet-k available! That would be awesome.

[2015-03-01 19:11] peterblazejewicz commented on #76
a way better now :D

[2015-03-01 22:58] ctolkien commented on #66
I've some opinions on what would need to be in a "standard" gulp/grunt file (inc. gulp-aspnet-k), less, sourcemaps,  watching, image optimisation, etc. (i.e, replicating a lot of what web essentials would/used to do). Not really sure where the line should be drawn however, with regard to "clean slate", vs. getting up and running with something productive.

[2015-03-01 23:58] sayedihashimi commented on #66
How about modifying the existing generator to expose a grunt or gulp option? Then generate equivalent experiences using either.

Thoughts?

[2015-03-02 00:14] luisrudge commented on #66
@sayedihashimi yeah. That's what I thought. @ctolkien the great thing about yo is that we can have options for that. Maybe we can ask the user: Do you want to enable image optimization? Do you want less or saas?

[2015-03-02 00:36] spboyer commented on #66
The default template has "some" grunt functionality in there. I will take on the task of putting in the gulp functionality.

I have been working on an adaptation already using @johnpapa gulp patterns for angular. https://github.com/johnpapa/gulp-patterns

[2015-03-02 00:40] luisrudge commented on #66
please don't createa gulp file with 700 lines of code.
https://github.com/johnpapa/gulp-patterns/blob/master/gulpfile.js

[2015-03-02 01:45] sayedihashimi commented on #66
I'd like to have a gulp file that is equivalent to the grunt file that VS ships. We can create sub-generators for advanced content like that.

[2015-03-02 04:44] luisrudge commented on #66
Yeah. I agree with that

[2015-03-02 07:32] joaomoreno commented on #67
Verified that I can run (`k kestrel`) and build (`kpm build`) the new release.

[2015-03-02 07:34] joaomoreno commented on #68
@sayedihashimi The unit test template simply disappeared. What do you mean by "updated the unit test template"?

[2015-03-02 14:25] sayedihashimi commented on #68
We released an update to the generators a few days back, did you update?

[2015-03-02 14:28] spboyer opened #80 "Gulp file that is equivalent to the grunt file that VS ships"
Create a gulp file that is equivalent to the grunt file for the web template.  Make this an option like
`yo aspnet --gulp`

[2015-03-02 14:33] spboyer opened #81 "Add options to bypass question of template type"
Generator should have an option to bypass the `type` questions

`--web` - Web template
`--webapi` - Web API template
`--empty` - Empty template
`--nancy` - Nancy template
`--console` - Console template
`--classlib` - Class Library template

Usage would the allow for CLI to pass name and option of the type i.e.
`yo aspnet [name] --[type]`

[2015-03-02 14:34] spboyer commented on #66
@sayedihashimi  @luisrudge Issue added - https://github.com/OmniSharp/generator-aspnet/issues/80

[2015-03-02 21:12] peterblazejewicz commented on #68
@sayedihashimi
I think @joaomoreno is correct, we need to take a closer look:
https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js#L44-L47

[2015-03-02 21:22] peterblazejewicz commented on #81
Maybe this can be delegated (and refactored) into SubGenerators? `aspnet:Web`, `aspnet:WebApi` as in current convetion, etc?

[2015-03-03 03:58] sayedihashimi commented on #68
Sorry about that. We have a PR for the unit test feature open at #78. I just replied there. I tried the template on OSX and received the following errors on ```kpm build``` and ```k test```

[code]

[2015-03-04 01:49] spboyer commented on #50
@peterblazejewicz @larsw in order to solve the issue, it would have to also add the view correct? And the other item/restriction I would be concerned about is there is a constraint around the component having to be named "Components" - *"This folder must be named Components."*

[2015-03-04 06:59] peterblazejewicz commented on #50
@spboyer
I'm not exactly sure what are current constraints:
http://www.asp.net/vnext/overview/aspnet-vnext/vc#addv
Yes, we could scaffold entire component (class + view), so we should pick current implementation . As far as I understand we could place `ViewComponents` anywhere in generated project structure - but from this point we should follow conventions outlined in that article (unless there i

[2015-03-05 22:36] ctolkien opened #82 "Templated Project JSON contains comments..."
... Which apparently aren't valid for JSON docs...
http://stackoverflow.com/a/4183018/23300

https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/webapi/project.json

This manifests itself as an issue with certain JSON deserializers which will fail to decode them. Specifically, trying to edit a newly created aspnet project with Omnisharp-sublime will fail:

[code]

Strippin

[2015-03-05 22:43] sayedihashimi commented on #82
Ok well the larger problem is that VS templates include comments as well. Should we remove those as well?

cc @rustd @madskristensen

[2015-03-05 22:48] peterblazejewicz commented on #82
Maybe tooling in VS strips comments before JSON is used? That's common solution, e.g.:
https://github.com/sindresorhus/strip-json-comments

[2015-03-05 22:53] ctolkien commented on #82
VS will already handle JSON with comments, so I don't think that's the issue, it's more if you're roundtripping with other editors which don't (or developers on other editors).

I'm in two minds, on the one hand, it's against the spec, on the other, comments are genuinely useful and the only editor that seems to choke right now is Sublime, so a workaround could be employed for that.

My current le

[2015-03-09 20:56] spboyer commented on #80
PR https://github.com/OmniSharp/generator-aspnet/pull/83 - done!

The template files are here - https://gist.github.com/spboyer/ceb5d182d157294f7f6c

[2015-03-10 17:02] spboyer commented on #82
PR #83 addresses the templates with comments in the project.json files

[2015-03-10 17:03] #25 closed

[2015-03-13 01:32] deevus opened #84 "MVC Generator Doesn't Generate Anything"
[code]

Done using a new install of `kvm` and updated `yo` and `generator-aspnet`

[2015-03-13 01:42] sayedihashimi commented on #84
@deevus we no longer have an "mvc" generator, it's been renamed to "web". Can you update your aspnet generators and try again? Please re-open if you keep having issues.

[2015-03-13 01:42] #84 closed

[2015-03-14 05:06] jack4it opened #85 "Consider leveraging jspm?"
JSPM looks very promising regarding client side package management and also ES6 compatible module loading. Will this generator a good place to start to leverage this great tool?

[2015-03-14 11:55] peterblazejewicz commented on #85
I think the generator is developed on the promise to deliver the same experience for creating C#/.NET projects that are available for users with MS Visual Studio (vNext). So it ships with only those libraries/features/solutions that are available out-of-the box in MS VisualStudio (no extension added, no additional tools installed).
Also cast a vote here, as feature in subject is not existent:
http

[2015-03-14 20:15] sayedihashimi commented on #85
When using the yo generators ***you should be able to create the same projects and files as Visual Studio*** but we ***should not limit ourselves*** to what VS has. We recently reached parity with VS which I'm really happy about (_thanks everyone who helped_). We (_the asp.net community_) can create templates better and faster that Microsoft can. In the long term I'd like for VS to pull template c

[2015-03-14 21:03] peterblazejewicz commented on #85
@sayedihashimi
Maybe I was not clear: I hope that generator will be able to create a content that is portable - I want to be able to create a project on *nix machine in such way, that another folk could open in VS - and other way around. I work at company with exclusive C# stack, so we literally __brick walled external contractor(s)__ with only *nix machine - or just __without VS installed on Win

[2015-03-15 00:30] sayedihashimi commented on #85
"I hope that generator will be able to create a content that is portable"
Yes, completely agree.

In this case VS editors do not support import/export but the asp.net runtime supports everything fine. Since it's a bug that VS doesn't support those it's ok to create content in generators containing it. Hopefully we can get the support soon.

[2015-03-15 02:04] spboyer commented on #85
@odetocode has a good post here - http://odetocode.com/blogs/scott/archive/2015/02/18/using-jspm-with-visual-studio-2015-and-asp-net-5.aspx showing how to setup jspm.  I could create an option for the project templates --jspm to use as an optional to bring it in. Thoughts?

@sayedihashimi

[2015-03-15 15:51] OdeToCode commented on #85
+1 ;)

[2015-03-17 21:15] peterblazejewicz opened #86 "phase out `--skip-install` option"
Usually the commonly used `--skip-install` option in Yeoman generators is used to not perform dependencies installation after content has been created.
For example:
`generator-angular`:
https://github.com/yeoman/generator-angular/blob/master/app/index.js#L315-L324
`generator-webapp`:
https://github.com/yeoman/generator-webapp/blob/master/app/index.js#L201-L206

and they all are based around idea o

[2015-03-17 21:26] peterblazejewicz opened #87 "Replace documentation animated gif with one covering recent version"
We are using outdated GIF showing old version with old install behavior (automatic deps installation) and old content (old WebApplication content)

Can we update it to newer version, crafted to desired results? (hey, let's show people how easy is to create MVC project without using MS, cool!)

![aspnet](https://cloud.githubusercontent.com/assets/14539/6697962/a57211ac-ccf4-11e4-97d9-7ed16bb16d37.g

[2015-03-18 01:40] sayedihashimi commented on #87
+1 please do

[2015-03-18 01:41] sayedihashimi commented on #86
+1

[2015-03-18 01:43] sayedihashimi commented on #85
Lets try it out, later we can add a "show additional options" and prompt for this and other choices like grunt/gulp/etc.

Can you send a PR, then I can review it with the team?

[2015-03-18 04:08] xtianus79 opened #88 "Is it possible to create specific generators i.e. Starter Web so they can be forked and modded?"
I would like to combine my scaffolding with an ASP.net generator but that won't be possible unless there is some focus.  Could you guys/gals create forks of the most popular templates so they can more concise in file structure and combined with other projects?

Thanks.

[2015-03-18 15:09] #82 closed

[2015-03-18 16:10] peterblazejewicz commented on #85
+1

[2015-03-18 16:27] peterblazejewicz commented on #88
@xtianus79 which other project templates? Do you mean something like home project templates?
https://github.com/aspnet/Home/tree/master/samples
Thanks!

[2015-03-18 16:28] peterblazejewicz commented on #86
x-ref: https://github.com/OmniSharp/generator-aspnet/pull/90

[2015-03-18 16:30] #87 closed

[2015-03-18 16:50] xtianus79 commented on #88
@peterblazejewicz I would like to have the template for C# web Starter Web... is that possible?

[2015-03-18 16:51] #86 closed

[2015-03-18 16:51] #80 closed

[2015-03-18 16:52] xtianus79 commented on #88
Also @peterblazejewicz what node.js versions does this iteration of VS Vnext actually use?  seems to be in clonflict with my node.js 0.12.0

[2015-03-18 17:18] spboyer commented on #88
@xtianus79 the package.json file spcifies node.js version >= 0.10
https://github.com/OmniSharp/generator-aspnet/blob/master/package.json#L37-L38

[2015-03-18 21:52] xtianus79 commented on #88
@spboyer so can this be changed to 0.12?  moreover... I have 0.12 installed on my machine... is there a way to change the engine that VS is using?  thanks

[2015-03-18 22:17] xtianus79 commented on #88
Wait I just rethought that... the setting is saying this needs to run on node.js .10 or later. doesn't mean that is what VS is running on.  is this an official answer?

[2015-03-18 22:43] spboyer commented on #88
@xtianus79 the generator needs to run on nodejs >= 0.10, it is unrelated to VS. You don't Visual Studio to run this, change the output, compile, or build and view. Just the ASPNET runtime or KLR. Which is also now known as DNX.

[2015-03-18 22:54] xtianus79 commented on #88
No im asking what node does vs vnext have baked in?. What version is it running or at least looking for.  Perhaps I said that wrong.

Sent from my Windows Phone
________________________________
From: Shayne Boyer<mailto:notifications@github.com>
Sent: ‎3/‎18/‎2015 6:43 PM
To: OmniSharp/generator-aspnet<mailto:generator-aspnet@noreply.github.com>
Cc: xtianus79<mailto:xtianus@live.com>
Subject: Re:

[2015-03-19 05:43] xtianus79 commented on #88
so is this possible?

[2015-03-19 06:33] sayedihashimi commented on #88
@xtianus79 it's not clear to me what your question/suggestion is. Can you be more specific?

In the generators the [web template](https://github.com/OmniSharp/generator-aspnet/tree/master/templates/projects/web) is equivalent to the Starter Web template

You can fork this repo and modify that if you like.

In Visual Studio I modified ```project.json``` to include the following in the scripts secti

[2015-03-19 06:44] xtianus79 commented on #88
@sayedihashimi thanks for the reply. 2 things.

1.  https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/_gruntfile.js <<< yes I can deal with that.  Awesome!!!

So basically I can use the generator and use this template<<< is this template connected to the generator or is this separate unto itself?

2.  is there an official way to change this to use the node that is in

[2015-03-19 06:52] xtianus79 commented on #88
@sayedihashimi

this is my print out... Resolving complete, 7127ms elapsed
npm WARN package.json @0.0.0 No description
npm WARN package.json @0.0.0 No repository field.
npm WARN package.json @0.0.0 No README data
v0.10.31

when I right click on NPM and choose configure external tools it comes to the choice to edit the "External Web tools"

I unchecked the first box which is .node_modules\.bin and

[2015-03-19 17:56] jack4it commented on #85
Looking forward to it...

[2015-03-19 19:34] xtianus79 commented on #88
@sayedihashimi @spboyer Ok I am going to clone the project now and try to implement my bits and setup from here... it i can get it working it would be amazing.

[2015-03-19 20:41] sayedihashimi commented on #88
@xtianus79 this repository is for the asp.net 5 yeoman generators. This is not the right place for getting info on how VS interacts with node/grunt. I noticed that Mads published a blog today at http://blogs.msdn.com/b/webdev/archive/2015/03/19/customize-external-web-tools-in-visual-studio-2015.aspx which relates to that. That seems like a good place to ask those questions.

[2015-03-19 20:44] xtianus79 commented on #88
yes you are correct and the blog post worked out perfectly.  Thanks!

Date: Thu, 19 Mar 2015 13:41:56 -0700
From: notifications@github.com
To: generator-aspnet@noreply.github.com
CC: xtianus@live.com
Subject: Re: [generator-aspnet] Is it possible to create specific generators i.e. Starter Web so they can be forked and modded? (#88)

@xtianus79 this repository is for the asp.net 5 yeoman generators

[2015-03-19 21:30] peterblazejewicz commented on #88
@xtianus79 So are you satisfied with responses? Can we go and close this issues?

[2015-03-19 21:38] xtianus79 commented on #88
@peterblazejewicz Yes thanks.

[2015-03-19 22:06] #88 closed

[2015-03-20 17:45] erichexter opened #92 "adding complex arguments to a subgenerator"
Have you considered a way to add a complex type as an argument to a subgenorator.

Scenario would go like this:

I create a viewmodel, then I generate a controller and view for it.

yo aspnet:mvcview foomodel
or
yo aspnet:mvcview {foomodel:{Title:"",Count:"",.... }}

Then the argument can be used inside of the view generation template.

[2015-03-20 21:26] peterblazejewicz commented on #92
I think options complicates usage - the Yeoman has builtin solution for asking for options when one types subgenerator name she could be asked about model generation (similary: should Sass or Less be used, should Boostrap or Foundation be included, shuld Gulp or Gruntfile build system be used, etc):
http://yeoman.io/authoring/user-interactions.html

[2015-03-22 21:15] peterblazejewicz commented on #39
@spboyer
I'm closing this as we have different templates now - let us see how content evolve. As for me with current example the purpose of `wwwroot` directory is more than obvious.
Thanks!

[2015-03-22 21:15] #39 closed

[2015-03-22 21:26] peterblazejewicz opened #95 "Update documentation with short description of generated projects"
We have new templates, with new content, quite different from content shown on ASP.NET home and MVC projects:
https://github.com/aspnet/Home/tree/master/samples
https://github.com/aspnet/Mvc/tree/dev/samples
[code]
Short note would be efficient - it could be placed prominently on top of Readme.md, so it is spotted first on NPM register, etc.
This was previously covered by outdated and spoiled:
htt

[2015-03-22 21:27] peterblazejewicz commented on #63
I'm closing this in favor of #95
Thanks!

[2015-03-22 21:27] #63 closed

[2015-03-22 22:44] peterblazejewicz opened #96 "Remove dependency to Gulp from project file"
I think this is no longer required, maybe it was used locally:
https://github.com/OmniSharp/generator-aspnet/blame/master/package.json#L52
May we remove it?
cc/ @spboyer

[2015-03-22 22:47] peterblazejewicz commented on #96
also this one, `fx-extra`?
https://github.com/OmniSharp/generator-aspnet/blob/master/package.json#L51

[2015-03-25 01:59] xtianus79 opened #97 "Forked rework of Omnisharp generator-aspnet and additon of new template w/ options"
Per our conversations here are the goods I promised...
https://github.com/xtianus79/generator-aspnet

*** UPDATE: 1 make sure when you install this you use npm install xtianus79/generator-aspnet and the generator name is aspnet-f5 to not interfere with another generator.

*** UPDATE: 2 - WARNING - When installing the "christian starter web template" make sure to be in the directory where you want

[2015-03-25 02:21] xtianus79 commented on #97
*** UPDATE: 1 make sure when you install this you use npm install xtianus79/generator-aspnet and the generator name is aspnet-f5 to not interfere with another generator.

[2015-03-25 02:36] xtianus79 commented on #97
*** UPDATE: 2 - WARNING - When installing the "christian starter web template" make sure to be in the directory where you want your project installation to take place... i.e. projects/yourAppHere

[2015-03-25 03:44] sayedihashimi commented on #97
I haven't had a chance to try this yet (I'm traveling). On email one thing that I asked was to see if you could investigate default behavior of popular generators. I'd like for whatever we do to be in line with what others are doing so that we can provide a consistent experience.

[2015-03-25 04:29] xtianus79 commented on #97
@sayedihashimi Sure I would be glad to share this with you.
Here are the top generators and their directions or assumptions that you are already in the directory you are building your project from.
This is based on stars, downloads and name recognition.

#1 https://github.com/yeoman/generator-angular --> run yo app in directory
#2 https://github.com/DaftMonk/generator-angular-fullstack --> run yo

[2015-03-25 05:05] sayedihashimi commented on #97
Thanks for the info and links. I will try the generator in the next day or so.

I also found that the generators from yeoman https://github.com/yeoman have this same behavior, so that leads me to agree with you. I'd like to hear what others think.

I think your brining up two issues here.
 - Make they folder name optional
 - Run grunt/gulp/bower automatically at the end of the generator.

For the

[2015-03-25 05:29] xtianus79 commented on #97
@sayedihashimi I can't wait for you to try it because most of your concerns will be alleviated. In fact, we could implement the kpm restore after build the same way I implemented a grunt function.

To your 2 issues/concerns... The folder name is optional in my rework based on these 2 parameters.

first, if the template requires no folder generation then this property can be excluded.
        if (!

[2015-03-25 15:20] spboyer commented on #96
@peterblazejewicz we can remove both of these dependencies.

[2015-03-25 15:20] spboyer commented on #95
:+1:

[2015-03-25 16:48] peterblazejewicz commented on #95
Can we just get content as quote from this blog post introducing CTP6?
http://blogs.msdn.com/b/webdev/archive/2015/02/23/aspnet-5-updates-for-feb-2015.aspx

[2015-03-25 16:56] sayedihashimi commented on #95
Sure feel free to copy anything you want from there.

[2015-03-25 16:58] rustd opened #98 "The app generators should generate a .gitignore file"
The app generator should generate the .gitignore file which will exclude node_modules and bower_components folders.
We could use the following as the default gitignore file https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
Some of the other generators such as https://github.com/yeoman/generator-webapp do this.

[2015-03-25 17:39] peterblazejewicz commented on #98
:+1:
@rustd This one have no relation to current or envisioned ASP.NET project structures unfortunately.

@sayedihashimi @spboyer
Can you consider discussing a new project within OmniSharp to work as umbrella project for all kinds of templates for ASP.NET? The VS comes without support for range of tools (still) while people use them all the time, e.g. at work. These could be `.gitignore`, `.gitatt

[2015-03-25 18:44] sayedihashimi commented on #98
@peterblazejewicz are you saying that VS should add the file first and then we will add it? I'm not following your comment above.

As @rustd stated generator-webapp does drop a .gitignore file in the project directory. The contents are below.

[code]

For this generator I think we could start with the following.

[code]

Thoughts?

@rustd if we are saying that the yo generators should place a ```.

[2015-03-25 19:28] peterblazejewicz commented on #98
@sayedihashimi
I meant something similar to HTML5 boilerplate set of default files:
https://github.com/h5bp/html5-boilerplate/tree/master/src
Some of them can be actually empty and works as best-practise only samples:
https://github.com/h5bp/html5-boilerplate/blob/master/src/.gitignore

[2015-03-25 20:35] #95 closed

[2015-03-25 20:36] #96 closed

[2015-03-26 20:36] xtianus79 commented on #97
*** UPDATE 3 - finished functionality of distribution folder... Added mkdir for includes and wwwroot/dist in the "christian starter web template." This will allow for the use of a _header.cshtml and _footer.cshtml to be calling into the _Layouts.cshtml for awesome functionality of bower insertions and concat and minify on project completion/publish.

[2015-03-26 20:43] xtianus79 commented on #98
@sayedihashimi I totally agree that a .gitignore file should be included... and yes the options of node_modules
.tmp
bower_components should be included... and then per template could define others if needed...

but it should be an accessible file because certain packages need things to be ignored.  Every case is different.

[2015-03-26 21:01] sayedihashimi commented on #97
Thanks I will review today and comment back. Sorry for the delay, I'm on vacation with family.

[2015-03-26 21:05] xtianus79 commented on #97
@sayedihashimi sounds good. hope you like it...

[2015-03-26 21:34] peterblazejewicz commented on #97
In my opinion the __generator-aspnet__ is a multipurpose generator - kind of Suisse Knife. Here - just like in VS - we can create multiple projects within a single top directory - within single solution. I like idea of using similar approach when creating a project between generator and VS tooling UX.
So I'm able to quickly scaffold three related projects within a single top directory:
- web
- cla

[2015-03-26 22:01] xtianus79 commented on #97
@peterblazejewicz So you agree that the projects should be deployed from within the directory.  From you're example it would make sense for the subgenerators too yes?

[2015-03-26 22:16] peterblazejewicz commented on #97
No, I'm not agree - have you used VisualStudio to generate different projects within a single solution? Your generator uses Foundation, have you used their `foundation-cli` tool? Does it make assumption about being in target directory?
https://github.com/zurb/foundation-cli
There are different approaches here and one currently used is not invalid one.

[2015-03-26 22:21] xtianus79 commented on #97
@peterblazejewicz I am confused by this statement "have you used VisualStudio to generate different projects within a single solution?" How would that change if you would just deploy in the directory you are in?

[2015-03-26 22:24] peterblazejewicz commented on #97
@xtianus79
I meant: I appreciate sharing common UX patterns between tools - does it sounds clear? I appreciate that there could be a common path, UX pattern shared between VisualStudio and open source tools - as it would really help people.

[2015-03-26 22:31] peterblazejewicz commented on #97
In VisualStudio I create a project choosing template and providing a name - the project directory is created and filled with code.
In generator I create a project choosing tempalte and providing a name - the project directory is created and filled with code.
Does both above statements are about the same UX pattern? Are you able to spot similarity?
Generator Angular does not create a project, it ju

[2015-03-26 22:32] xtianus79 commented on #97
@peterblazejewicz maybe I am confused from this point of view.  Let me explain what this rework does.  It accomplishes two things.

1.  Is simply my template which yes uses foundation among many other things.

2.  it proposes a different methodology for deploying projects/applications... The 2nd part is important for my template, and hopefully many others, to be able to generate fully functionally

[2015-03-26 22:55] xtianus79 commented on #97
@peterblazejewicz I think see what you're saying now... But I believe i have that covered. I have a question.

You say

But I have a question? Is there something in the generator that C# uses to identify namespace with based on the application name you have chosen?  If so that is great news because I left that parameter in there whether you are using the folder you are in i.e. application name or

[2015-03-27 05:29] sayedihashimi commented on #97
Thanks for all the comments and the sample that you created.

Let's take a step back and discuss principals. I'm proposing that we follow the following principle.

### generator-aspnet principles

 - We should be consistent with the ***Visual Studio content***. Meaning that you can create equivalent project from either VS or generator-aspnet. For generator-aspnet, we can have a broader set of opti

[2015-03-27 14:08] spboyer commented on #97
A lot to chew on here.

First, all generators are opinionated and any implementation can range from being very generic to very specific depending on the goals.

As @sayedihashimi mentioned the 2 goals of **generator-aspnet**, I believe we have been trying to keep to these.  I don't think that there is an issue with having an option of creating or not creating a directory with the *appname*. We jus

[2015-03-27 18:33] xtianus79 commented on #97
@spboyer you are correct that this is a specific and extended implementation of a build.  However, like the generator-ionic generator my template uses a wizard to prompt the user into what options they specifically want in the framework of my template.

With that said, I believe some options that build grunt processes and add functionality would be on template level.  Would you all agree with this

[2015-03-27 22:24] rustd commented on #98
@sayedihashimi VS drops in a gitignore file when you checkin using Git. let's add a .gitignore file

[2015-03-27 22:28] peterblazejewicz commented on #98
@rustd @sayedihashimi
I have an idea - let's make subgenerator also aspnet:gitignore - the sole purpose will be to just create `.gitignore` for VS in current directory.
Can I make a ticket for this?

[2015-03-28 06:46] xtianus79 commented on #97
*** UPDATE 4 - Removed Bower:Install functionality because it wasn't playing nice with wiredep.  Wiredep allows for the automatic injection of bower dependencies into your html or cshtml files directly.  Replaced funtionality of Bower:Install with seperate copy and clean grunt tasks.  Now the folder structure in the wwwroot/lib mimics that of bower_components minus unnecessary files and folders.

[2015-03-31 03:47] xtianus79 commented on #97
*** UPDATE 5 - Fixed up some issues with grunt tasks so grunt bower-install runs after project is installed or kpm restore is ran.  Both watch servers on port 9000 / dist 9001 work for index.html and ports 5001 work for k web command.  Fixed issue for installation error on MAC OS X because of absolute file paths...

I will wait to see what is decided from the .net team for implementation of pull r

[2015-04-01 20:24] pnewhook opened #102 "SQL Server Connection String Generated with $guid2$"
k runtime version: 1.0.0-beta3
generator version: 0.0.31

After running `yo aspnet` and selecting web application my project was generated. The connection string in config.json contains $guid2$ which I assume should be turned into a real GUID?

[code]

[2015-04-01 20:30] peterblazejewicz commented on #102
These are VS template params.
Let's call: @spboyer

[2015-04-01 20:44] sayedihashimi commented on #102
Lol oops, yeah $guid*$ should create a new guid.

[2015-04-02 06:01] peterblazejewicz opened #103 "[Add] Move Mocha to development dependencies in package.json"
I've read a wiki note added by @sayedihashimi .
https://github.com/OmniSharp/generator-aspnet/wiki/how-to-run-test-cases-locally

We just need to add `devDependencies` section just like here:
https://github.com/yeoman/generator-generator/blob/master/package.json#L33-L36
and simply instruct people to run `npm install` as the `yeoman-generator` and `chalk` are already included by core dependencies.

[2015-04-02 06:25] sayedihashimi commented on #103
Thanks @peterblazejewicz I'm an npm noob, this looks like it would be much better.

+1

[2015-04-02 18:57] peterblazejewicz commented on #103
@sayedihashimi ready to go

note: I've changed title to better mark purpose of issue (actually - we already have mocha, but simply in wrong section)

[2015-04-03 06:05] sayedihashimi commented on #97
OK so @xtianus79, @spboyer and I met on Saturday to discuss and I have some thoughts to share with you.

### Proposal
We believe that the ```generator-aspnet``` generators should provide the equivalent experience as to what is available in Visual Studio 2015. That way users can be sure that when they start with ```generator-aspnet``` that they are getting high quality templates and can share with

[2015-04-03 06:32] shanselman commented on #97
I love this idea. The naming thing is cook because it means I can get ones from people I respect, or from projects (generator-aspnet-nancy), or orgs. We should list them all in one place for discovery purposes!

[2015-04-03 09:35] Mpdreamz commented on #97
+1

I love the idea of not having one big ass generator project that tries to generate everything under the sun.

There is no need to as well since yeoman allows for generators to be composed! :+1:

http://yeoman.io/authoring/composability.html

I would personally love if we claimed both the `generator-net-*` and `generator-aspnet-*` npm prefixes e.g:

Generator         |  Use
--------------------

[2015-04-03 09:37] Mpdreamz commented on #97
the big question here is what are the long term plans within MS, if `project.json` is the way to go forward for all projects we could eschew my proposed `generator-net` and rename the `generator-aspnet` to `generator-net` or probably less ambiguously to `generator-dotnet`.

[2015-04-03 09:47] Mpdreamz commented on #97
We could list the most common base generators on the [sexy new site](https://github.com/OmniSharp/OmniSharp.github.io/issues/5#issuecomment-74845391) and link to the wiki for even more community provided ones.

[2015-04-03 19:43] peterblazejewicz commented on #97
@sayedihashimi
As I wrote, I'd like to have simple, focused generators, so I can quickly show to a group of people (say a team member from my work) what the generator is about. I'd like idea that I could show side-by-side features or content created by generator with content created by VS. And I could have a new team member without PC or without VS license (usage not covered by CommunityEdition).

[2015-04-03 20:07] xtianus79 commented on #97
@shanselman @spboyer @xtianus79 @peterblazejewicz @Mpdreamz
I really like the idea of the proposed methodology of how generator variations will be handled.  The main point will be to list them on a common directory.

@shanselman stated

Still, I want to keep something in perspective for everyone reading or weighing in on this topic.  Generators are not something that is just simple.  They are robu

[2015-04-07 03:40] sayedihashimi commented on #97
FYI I have created a new wiki page based on my comment above https://github.com/OmniSharp/generator-aspnet/wiki/goals-and-related-generators.

That's the beauty of the approach. You can create ```generator-aspnet-*``` and you can take whatever approach you want. You don't need to consult anyone. If your generator becomes popular then we can all learn from it and apply that back to the other ones.

[2015-04-07 17:02] jrock2004 opened #105 "Generate without bootstrap"
I am wondering if there is anything in the works to add support to generate projects without bootstrap? Thanks

[2015-04-07 17:11] jrock2004 opened #106 "Too Many Open Files (Mac)"
So I generated a new web project. cd into the directory and ran the following commands

[code]

When running the last command there I get the following output

[code]

[2015-04-07 17:21] jrock2004 commented on #106
It seems like this is a mono bug. Found solution here

https://github.com/aspnet/Mvc/issues/2118

[2015-04-07 17:21] #106 closed

[2015-04-07 18:33] peterblazejewicz commented on #106
quick solution for reference:
https://github.com/aspnet/Mvc/issues/2118#issuecomment-77169959
[code]

[2015-04-07 18:49] peterblazejewicz commented on #105
I assume that Bootstrap is still part of content generated by upcoming VS:
http://www.asp.net/mvc/overview/getting-started/introduction/getting-started
I'd rather stick with this, adopting other features and integrations as they appear. I think the first will be Angular SPA example with TypeScript once it appears in VS
We could create other content for vNext easily and quickly, I think:
https://gi

[2015-04-07 19:43] xtianus79 commented on #97
@sayedihashimi all in all I feel this is a great idea... I have learned a lot about VS in my time creating my version/extension of the aspnet generator.

With that said, I have buttoned up my generator and have tested it on both pc and mac and it works pretty well.  I would like to submit it to the omnisharp/aspnet community

https://www.npmjs.com/package/generator-aspnet-xtianus

I can create a w

[2015-04-08 10:43] saper opened #107 "yeoman-generator 0.19 incompatibilities"
yeoman/generator#785 people decided to have [a different approach to the filesystem handling](http://yeoman.io/authoring/file-system.html), which, among others, means `this.src` is as `undefined` as of https://github.com/yeoman/generator/releases/tag/v0.19.1

This affects at least [script-base-basic.js#L19](https://github.com/OmniSharp/generator-aspnet/blob/master/script-base-basic.js#L19), where

[2015-04-10 01:25] spboyer commented on #105
@jrock2004 is there another framework that you were looking to use in lieu of bootstrap? or just not have bootstrap in the templates? You can always remove the reference from bower.json and the associated .html

[2015-04-10 01:27] #103 closed

[2015-04-10 01:29] jrock2004 commented on #105
I have a home baked responsive grid that I use and for the rest I like to style it myself.

[2015-04-10 01:39] spboyer commented on #105
i would suggest removing the reference and run `kpm restore`

[2015-04-10 01:47] jrock2004 commented on #105
That you remove boot strap from the wwwroot folder?

[2015-04-10 02:01] spboyer commented on #105
if you remove the bootstrap ref from the bower.json file, when the grunt task is run as a part of the `kpm restore` it will clean the wwwroot folder and then the bootstrap resources will no longer be put there.

[2015-04-10 02:59] spboyer commented on #98
#112 Submitted @sayedihashimi can you review

[2015-04-10 03:01] spboyer commented on #102
#110 Submitted needs review

[2015-04-10 18:00] sayedihashimi commented on #97
I thought I replied back to this a few days back but it looks like it was never posted.

For the short term I think what we can do to ensure that related generators are discoverable are:
 - [ ] Ensure that related generators are named like ```generator-aspnet-*``` and ```generator-csharp-*``` for generators which are creating MSBuild based projects. That way everyone can search npm for generator-a

[2015-04-10 18:05] xtianus79 commented on #97
sure thing.

[2015-04-10 18:05] #97 closed

[2015-04-10 21:54] peterblazejewicz opened #113 "Code editing settings to use in project"
Can we add back original (or changed) development code config files related to linting or editor settings?
https://github.com/yeoman/generator-generator:
https://github.com/yeoman/generator-generator/blob/master/.editorconfig
https://github.com/yeoman/generator-generator/blob/master/.jshintignore
https://github.com/yeoman/generator-generator/blob/master/.jshintrc
Using them allow to comply to some

[2015-04-12 01:20] johnpapa opened #114 "How do you want contributions?"
fork develop branch? master?

[2015-04-12 01:22] spboyer commented on #114
fork master

[2015-04-12 01:23] johnpapa commented on #114
done, thanks

[2015-04-12 01:23] #114 closed

[2015-04-12 02:07] johnpapa opened #116 "grunt-bower-tasks and gulp-bower are setup to install files using different strategies"
After talking to Shayne, this [PR](https://github.com/OmniSharp/generator-aspnet/pull/115) is likely not going to help as it fixes gulp but break grunt.

When using grunt, the bootstrap files end up getting reorganized not only in the lib folder but also by component which drops the `dist` folder. First, I think there is little value and asking for trouble by reorganizing the bower files. Its fine

[2015-04-12 02:31] johnpapa commented on #116
also found that `_references.js` gets generated with a gruntfile reference, even when I use the --gulp option

[2015-04-12 21:03] peterblazejewicz commented on #116
@spboyer @sayedihashimi  Do you guys have any insight how future VS will handle client-side bundling/optimisation? Any pointer? With the current version I'm using mix of VS tools in VS2013 + WebEssentials to build very efficient bundled and optimised content. Outside of VS we just use Grunt/Bower with bunch of configuration files to do the same for any type of projects. Exactly what @johnpapa wrot

[2015-04-13 08:19] ChrisKlug opened #117 "Generator doesn't seem to install properly"
I just tried running:
npm install -g yo generator-aspnet

and everything looked fine. Yeoman Doctor reports everything as being fine. The install of the generator doesn't generate any errors. But when I run:
yo aspnet

I get:
Error aspnet
You don't seem to have a generator with the name aspnet installed.

Any suggestions on what I am doing wrong?

I'm on Windows 8.1 running node 0.12.2, if that ma

[2015-04-13 11:42] peterblazejewicz commented on #117
@ChrisKlug I'm on the same OS version, running `npm install -g` with elevated level:
[code]
What is the output when you install generator(s)? And does the other generators work for you?

[2015-04-13 11:49] ChrisKlug commented on #117
Nope, I get:
[code]

I haven't tried any other yeoman generators. This is the first time I have even tried yeoman to be honest...

[2015-04-13 18:31] peterblazejewicz commented on #117
@ChrisKlug That's probably issue with Node/Npm paths on Windows.
Can you post here values of:
[code]
[code]
maybe someone will be able to help.

[2015-04-13 20:09] ChrisKlug commented on #117
Sure!

Here it is...

yo doctor:
[code]

npm prefix -g
[code]

Does that tell you anything? :)

[2015-04-14 11:54] peterblazejewicz opened #118 "Remove peerDependencies declaration"
The `peerDependencies` section is deprecated. When installing generator under recent Node/Npm and Yo users will receive:
[code]
It was removed from template genarator project already:
https://github.com/yeoman/generator-generator/commit/14d39bc78a675742e5590b769a8d527fba81fa1f

Should we wait with this change or implement it to avoid spilling too much warnings at users when installing generator?

[2015-04-14 11:59] peterblazejewicz commented on #117
@ChrisKlug I've similar problem when NPM was installing modules into two different directories, one in sandboxed (AppData/Roaming) location and the other in Program Files location.
Can you check if/and where Yo and generator-aspnet are installed:
- C:\Users\chrisk\AppData\Roaming\npm
- C:\Program Files\nodejs\

On my machine I had to make sue that user environment variable for PATH has `C:\Users\P

[2015-04-14 12:13] ChrisKlug commented on #117
Hmm, I seem to all modules installed in C:\Users\chrisk\AppData\Roaming\npm, except generator-aspnet and yo. However, yo is actually installed in both...

My user environment PATH points to the AppData path, and the system one points to Program Files. Should they align? Any suggestions on which to change?

[2015-04-14 12:15] ChrisKlug commented on #117
Adding the AppData path to the System Environment PATH seemed to have solved it... Hope it doesn't break something else... ;)

[2015-04-14 16:38] sayedihashimi commented on #118
Sounds good to me.

[2015-04-14 17:13] #107 closed

[2015-04-15 21:46] xtianus79 commented on #116
To this point... for the generator I organized I removed Bower:Install as it lead to much of the oddities that @johnpapa was speaking of.  The only way to get wiredep working was to have a direct file and folder relationship between bower_components and wwwroot directories.

How did you guys end up adjusting this?

[2015-04-15 21:47] xtianus79 commented on #116
oh I forgot to mention the way I handled the solution was to do a copy and clean functionality through grunt upon certain grunt tasks.

[2015-04-15 21:48] xtianus79 commented on #105
@jrock2004 what type of setup of dependencies would you like exactly?

[2015-04-16 18:41] peterblazejewicz commented on #116
at work with VS2013 I use WebEssentials and C#/MVC built-in fetaures. Outside of VS2013 in other projects I use Grunt/Gulp and everything from Less/Sass and any kind of template language. I think that guys at MS have yet to decide how to provide nice tooling. Nice to see that John Papa is somehow involved into this, as they need solid help to provid flexible solution :+1:

[2015-04-16 18:43] xtianus79 commented on #116
What do you mean provide nice tooling?

[2015-04-16 19:07] peterblazejewicz commented on #116
With VS2013 I use WebEssentials + VS tools for transpiling, bundling and minification. If I use NuGet packages and mentioned tools my team does not have to write any code for build phase.  With Grunt/Gulp/Bower/WebPack that's not the case. The `Web Application` ships with static client side CSS code. Say, Google's Web Starter Kit `template` implementation:
https://github.com/google/web-starter-kit

[2015-04-17 01:24] xtianus79 commented on #116
@peterblazejewicz but that is exactly how I setup generator aspnet-xtianus... yes it comes with foundation out of the box but anyone could simply delete the foundation bower dep and replace it with bootstrap. Now, to be completly accurate there would probably need to be a couple other adjustments because my setup is for a specific sass configuration to take the generated scss file to css and then

[2015-04-17 15:17] Gronis opened #120 "Cannot run kpm restore after fresh yo generated project"
I'm trying to create a project with yeoman aspnet. I got it working before, but just now it stopped working when I'm trying to fetch dependencies with kpm restore. I don't really know it the problem is yeoman generator or aspnet itself.

Terminal output:
[code]

[2015-04-17 19:15] peterblazejewicz commented on #120
hi,
Which project was used? `Web Application`?

[2015-04-17 19:22] spboyer commented on #120
@Gronis looks like it is failing trying to find the grunt cli.

run `$ npm install -g grunt-cli` and run `$ kpm restore' again

[2015-04-17 19:52] Gronis commented on #120
@spboyer: Thanks! That seamed to do the trick!
@peterblazejewicz Yes, I am using a Web Application :)

I did try to run ```$ npm install -g grunt``` but that doesn't work if the required package is ```grunt-cli``` Thanks for a quick reply!

[2015-04-17 19:52] #120 closed

[2015-04-17 20:42] #98 closed

[2015-04-17 20:44] #118 closed

[2015-04-17 21:35] sayedihashimi commented on #116
@madskristensen can you help answer this?

[2015-04-17 21:41] madskristensen commented on #116
Using Gulp and/or Grunt

[2015-04-17 22:56] sayedihashimi commented on #116
@madskristensen can you share the gulp/grunt file you currently have for beta4?

[2015-04-17 22:59] johnpapa commented on #116
If you want help shaping that gulp file, lemme know. I'm working on an asp/net 5 generator for hottowel that will be all gulp.

[2015-04-18 01:18] spboyer commented on #102
#110 merged - closing issue.

[2015-04-18 01:18] #102 closed

[2015-04-18 01:20] spboyer commented on #92
I would agree with @peterblazejewicz, there is even a case where options like `--gulp` are hard to discover and when either misspelled or a single dash `-gulp` is used the option is simply ignored.

[2015-04-19 16:04] xtianus79 opened #122 "Where does the lodash namespace get defined in certain subgenerators like StartupClass?"
I see <%= namespace => but i don't know how that is ever triggered?

[2015-04-19 16:45] peterblazejewicz commented on #122
It's set when user is prompted for application name:

https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js#L98-L102

[2015-04-19 16:54] spboyer commented on #122
It's passed whenever `this.template()` is called inside the templatedata var. like here https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js#L119

[2015-04-19 17:21] xtianus79 commented on #122
yes but when I run the subgenerator how does that affect that? I am running it and it just leaves <%= this behind

[2015-04-19 17:36] spboyer commented on #122
It is not implemented in the subgenerators, nor is the <%= namespace %> token in any of the subgenerator templates. They are hard coded as "MyNamespace"

[2015-04-19 17:54] xtianus79 commented on #122
@spboyer https://github.com/OmniSharp/generator-aspnet/blob/master/templates/startup.cs#L4 this just may be a one off but I was wondering.

[2015-04-19 18:14] spboyer commented on #122
Looks like that subgenerator has a bug, should be implemented like the WebApiController for example. https://github.com/OmniSharp/generator-aspnet/blob/master/WebApiController/index.js

[2015-04-19 18:26] xtianus79 commented on #122
ok... I wanted to add some functions but they sub-generators seemed very specific to just creating a file.

would some added functionality be beneficial... especially for certain files?

[2015-04-19 18:35] spboyer commented on #122
Create a new issue stating what the "new/additional" functionality is and let everyone chime in.

[2015-04-20 04:30] xtianus79 commented on #122
sounds good.
when you said this.

isn't that just a general name?  would a prompt be better to establish context?

[2015-04-20 21:48] sayedihashimi opened #124 "Update templates to work with beta4"
I have the final Visual Studio templates for ASP.NET 5 beta 4 https://www.dropbox.com/s/6vzd6hmskf0pcrp/beta4-templates.zip?dl=0. We should create a branch where we can implement these changes and then merge to master when beta4 is released.

I think @chrisdias and his team may be able to help here. Chris please let us know if you plan to start this work.

@rustd if the VS templates change please

[2015-04-21 00:52] sayedihashimi commented on #102
@spboyer thanks for fixing and merging.

[2015-04-21 00:59] sayedihashimi opened #125 "Add .gitignore subgenerator"
For new project creation we create a ```.gitignore``` file. There are cases where users will need to create that file after the project has been created (i.e. they modified it and want to go back to square one, or they created with an older version). To enable this we should create a new subgenerator that users can use. The content should be the same as the new project case.

Related to #112

[2015-04-21 01:00] sayedihashimi commented on #98
@peterblazejewicz

Can I make a ticket for this?

I created #125 for this.

[2015-04-21 01:04] spboyer commented on #98
Ha, i had that done. just didn't check it in yet. Will do now.

[2015-04-21 18:56] peterblazejewicz commented on #125
When added you guys should promote it on every occasion - that's a little, nifty feature, kind of generator making `puffs` :D

[2015-04-22 00:45] xtianus79 commented on #125
I wanted to know what was the methodology of this generator... meaning will it be based off of the script-base.js file?

If so, I wanted to ask what was the benefit of having the generators tied to that file.  I am finding it hard to globally scope variables to run functions from the subgenerators index.js file.

[2015-04-25 10:40] #125 closed

[2015-04-25 11:15] #113 closed

[2015-04-25 21:51] peterblazejewicz opened #130 "Update contribution docs with section about code style"
@sayedihashimi
I've modified project Wiki with section describing basic information about code styles used in project:
https://github.com/OmniSharp/generator-aspnet/wiki/How-to-Contribute/_compare/e76771410a719273f70f0eb36590f2c25e5b45e2%5E...e76771410a719273f70f0eb36590f2c25e5b45e2
Would you mind reviewing?

[2015-04-26 01:09] sayedihashimi commented on #130
@peterblazejewicz it looks great, thanks for adding that.

One thing that we may want to add is a statement to use ```git diff --check``` to ensure no whitespace errors are added. Thoughts?

[2015-04-26 16:22] peterblazejewicz commented on #130
@sayedihashimi

I've never used it. I'm using `.gitattributes` to manage newline between systems and linters to enforce white space (only if required by project, for example we are using strict enforced white space linters in [https://github.com/marionettejs](https://github.com/marionettejs) repositories - even as part of tests).
I think adding `.gitattributes` to automatically manage newlines wil

[2015-04-27 00:15] sayedihashimi commented on #130
Ok thanks. Adding .gitattributes sounds like a good idea 💡. I haven't tried the white space enforcement/fixes myself.

[2015-04-27 19:24] peterblazejewicz opened #132 "Re-introduce .gitattributes config file"
as suggested (indirectly) by @sayedihashimi  here:
https://github.com/OmniSharp/generator-aspnet/issues/130#issuecomment-96450578

We should re-introduce `.gitattributes` config file - as it was part of original content of scaffolded generator I believe and having that config will allow us to control at least newline management between OSes, machines and IDEs.
We could pick original one:
https://g

[2015-04-28 15:47] spboyer opened #135 "branch: beta4 - Nancy Template not working"
@sayedihashimi @jchannon

[code]

[2015-04-28 15:51] jchannon commented on #135
OMG what have you done!! ;)

On 28 April 2015 at 16:47, Shayne Boyer <notifications@github.com> wrote:

[2015-04-28 15:57] spboyer commented on #135
replicate by pulling beta4 brach

`yo aspnet`
Choose Nancy
`dnu restore`
`dnu build`

@jchannon you'll have to uncomment the Nancy option for now and `npm link`

[2015-04-28 16:02] sayedihashimi opened #136 "beta4: add class lib and console templates"
We should add a class lib and console generators, contents available at https://dl.dropboxusercontent.com/u/40134810/OmniSharp/classlib-console.zip

[2015-04-28 16:03] jchannon commented on #135
Or we could look to fix it?

[2015-04-28 16:11] chrisdias commented on #136
sorry, didnt know i had the power to close an issue :)

[2015-04-28 16:25] sayedihashimi commented on #136
@chrisdias I may have to remove it :)

[2015-04-28 16:41] sayedihashimi commented on #135
@jchannon yes please help us fix it

[2015-04-28 16:49] jchannon commented on #135
I have 1.0.0-beta3-11030 on my main machine, is there a step by step to
remove and upgrade to dnx?

On 28 April 2015 at 17:41, Sayed Ibrahim Hashimi <notifications@github.com>
wrote:

[2015-04-28 17:48] sayedihashimi commented on #136
I'm having machine issues so I've assigned this to @spboyer

[2015-04-28 17:59] spboyer commented on #136
Complete. Committed to beta4 branch.  in /templates/projects/classlib & /templates/projects/console

[2015-04-28 17:59] #136 closed

[2015-04-28 18:14] spboyer opened #137 "branch: beta4 web template builds, fails on run"
[code]
ERROR

[code]

cc:/ @davidfowl @sayedihashimi @aeschli

[2015-04-28 18:17] spboyer commented on #137
Same error on webapi template

[2015-04-28 18:30] sayedihashimi commented on #137
Cc @chrisdias

[2015-04-28 18:36] chrisdias commented on #137
what os and if on osx/linux, what is the mono version ?

[2015-04-28 18:38] spboyer commented on #137
OSX Yosemite, mono 3.10

[2015-04-28 18:45] chrisdias commented on #137
you need mono 4.0.1.  you can get that using homebrew... instructions are here: https://github.com/aspnet/home#os-x

brew tap aspnet/dnx
brew install dnvm

after this, the mono version should be 4.0.1.

dnvm upgrade -u to pull the "unstable" beta5 runtime and then dnu restore.

[2015-04-28 19:23] spboyer commented on #137
@chrisdias unless it was changed recently, it doesn't install mono 4.0.1

[2015-04-28 19:32] spboyer commented on #137
@chrisdias - reinstalled dnvm and it does now. Apparently was premature last night

[2015-04-28 19:49] #137 closed

[2015-04-28 19:52] spboyer opened #138 "branch: beta4 kqueue() FileSystemWatcher has reached the maximum nunmber of files to watch."
in web template getting the following error

[code]

Browse to http://localhost:5001

[code]

empty, webapi running fine

@chrisdias @sayedihashimi @davidfowl

[2015-04-28 19:52] spboyer commented on #138
Yosemite OSX, mono 4.0.1

[2015-04-28 19:54] peterblazejewicz commented on #135
@jchannon
I've tried this:
[code]
This at least install/udpate dnvm on my machine. But I'm sure that is not complete setup yet ( I can't do much more)

[2015-04-28 19:56] spboyer commented on #135
if you now run `brew install dnvm` it will install mono 4.0.1

That is a requirement for dnx and is included in the dnvm formulae

[2015-04-28 20:46] chrisdias commented on #138
i forgot i had this in my .bash_profile and it seems to fix the problem.

export MONO_MANAGED_WATCHER=disabled

@sayedihashimi  this needs to be documented on the asp.net site

[2015-04-28 20:54] spboyer commented on #138
added to bash_profile.
getting new error in web template

[code]

[2015-04-28 20:58] spboyer opened #140 "branch: beta4 - EndOfStreamException on dnu build"
false positive? webapi and empty still run

[code]

didn't get error when running mono 3.10.0 on dnx as an FYI. But couldn't run the site obviously.

@chrisdias @davidfowl @sayedhashimi

[2015-04-28 22:15] tbehunin opened #141 "Runtime error when running "Web Application" with no modifications"
Trying to create/run a simple aspnet web app on OSX Yosemite. After typing `yo aspnet`, selecting `Web Application`, typing in the name of my project (`foo`), the project is successfully created. I then type `dnx . kestrel` to start the application and I get the following error:

`System.InvalidOperationException: Unable to resolve project 'foo' from /Users/tbehunin/code/foo
  at Microsoft.Framewo

[2015-04-28 22:18] spboyer commented on #141
If you are running dnx, the beta4 branch is the dev home for that version.

The current release is still running k, so you would need to have that installed.

As a note k and DNX can run side by side.

[2015-04-28 22:21] spboyer commented on #141
Install instructions for k

`brew tap aspnet\k`
`brew install kvm`

[2015-04-28 22:33] sayedihashimi commented on #138
Adding @davidfowl @glennc

[2015-04-28 23:03] chrisdias commented on #140
i see the same thing doing dnu build, but not when running.

[2015-04-28 23:26] sayedihashimi commented on #140
adding a few folks @glennc @danroth27 @shanselman

[2015-04-28 23:48] tbehunin commented on #141
Ok thanks @spboyer. After doing that (and installing grunt and bower), I was able to run `kpm restore` and received the `Done, without errors. Restore complete.` message.

However, when I type in `kpm build` or `k kestrel`, I get the following error:
`System.IO.IOException: kqueue() FileSystemWatcher has reached the maximum nunmber of files to watch.
  at System.IO.KqueueMonitor.Add (System.String

[2015-04-29 00:09] tbehunin commented on #141
Looks to be a known Mono issue..?

http://www.mono-project.com/docs/about-mono/releases/3.12.0/

Ref this issue: https://github.com/aspnet/Mvc/issues/2348

[2015-04-29 00:33] spboyer commented on #141
@tbehunin check the fix here for your .bash_profile
https://github.com/OmniSharp/generator-aspnet/issues/138

It should work for k with no problems.

[2015-04-29 01:26] tbehunin commented on #141
@spboyer Thanks - that got me past that hurdle. Once I enter `k kestrel`, I can now get to the app at http://localhost:5004.

One strange thing I found though, if I try `kpm build`, I get the following error:
`System.IO.EndOfStreamException: Failed to read past end of stream.
  at System.IO.BinaryReader.ReadChar () [0x00000] in <filename unknown>:0
  at Microsoft.CodeAnalysis.CvtResFile.ReadString

[2015-04-29 13:40] jrock2004 commented on #105
With things like grunt and gulp having the js and css dep in wwwroot seems like it should not be. I guess its just me and maybe not everyone else

[2015-04-29 14:06] jrock2004 opened #143 "How do I switch to branch beta4"
I installed this via yo, so I wonder how can I update to branch 4 since I am using dnx? Thanks

[2015-04-29 18:44] peterblazejewicz commented on #143
- [optionally fork and] clone repo to your local machine
- make sure that your remote points to this repo
- fetch from remote and switch to beta 4 branch
- from console run:
[code]
(to be sure that you will be using one from repository and)
[code]
this will actually make a symlink in NPM registry to point to repository source code replacing one installed via `-g` flag
See this:
https://github.com/

[2015-04-29 18:46] peterblazejewicz commented on #105
I agree, but things are in flux in VS so to say :)

[2015-04-29 19:22] spboyer commented on #138
Latest dnvm install this is still an issue.

[code]

@glennc @danroth27 @davidfowl @shanselman @sayedihashimi

[2015-04-29 19:49] peterblazejewicz commented on #140
The same:
[code]

[2015-04-29 19:49] davidfowl commented on #140
It's a mono bug nothing we can do about this until mono is fixed.

[2015-04-29 19:50] peterblazejewicz commented on #135
I had to run this to fully install dnvm/dnu as the last step:
[code]

[2015-04-29 19:52] #135 closed

[2015-04-29 20:01] chrisdias commented on #140
@davidfowl @sayedihashimi can we get this mono bug fixed and 4.0.1 patched?  yo aspnet says do two things;  dnu restore and then dnu build.  dnu build fails.

[2015-04-29 20:17] davidfowl commented on #140
/cc @migueldeicaza Anything we can do about this?

[2015-04-29 20:35] jrock2004 commented on #143
What directory do I clone it to?

[2015-04-29 20:37] spboyer commented on #143
Beta4 is now the release branch.

Run `npm install -g generator-aspnet`

You will get the DNX version

[2015-04-29 20:45] peterblazejewicz opened #144 "Update animation gif after dnx/dnu/dnvm switch"
With this one for example - the help content is different now. NPM registry sports older ones:

![yo](https://cloud.githubusercontent.com/assets/14539/7401059/68a5007e-eec1-11e4-8b47-f0de0e4d3746.gif)

[2015-04-29 21:01] jrock2004 commented on #143
lol that was quick :)

[2015-04-29 21:11] #144 closed

[2015-04-29 22:07] rdepena opened #146 "ConsoleApplication Generator creates nodejs launch.json"
OS: MAC Yosemite, Generated a ConsoleApplication and the launch.json file generated is node js specific.

[2015-04-29 22:14] rdepena commented on #146
nevermind, its not the generator, its Visual Studio Code, =)

[2015-04-29 22:14] #146 closed

[2015-04-30 00:15] TravisTheTechie opened #147 "yo aspnet >WebApplication creates .gitgnore not .gitignore"
[code]

Doh.

[2015-04-30 00:24] TravisTheTechie opened #149 "Default gitignore on new webapp doesn't ignore Compiler"
With mono, instead of just Obj and Bin, we have to worry about Compiler too.

[code]

If that matters.

[2015-04-30 00:39] spboyer commented on #141
@tbehunin yes. duplicate of #140

[2015-04-30 00:39] #141 closed

[2015-04-30 00:45] spboyer commented on #138
@davidfowl @migueldeicaza @chrisdias @sayedihashimi

The web template runs under 1.0.0-beta4, #140 is still valid on `dnu build`, be sure that you are setting the dnvm to **default**
[code]

[2015-04-30 00:50] spboyer commented on #149
@TravisTheTechie need to make sure that you are on version `1.0.0-beta4`
[code]
again

[2015-04-30 00:51] #143 closed

[2015-04-30 00:52] #124 closed

[2015-04-30 00:54] #147 closed

[2015-04-30 01:02] TravisTheTechie commented on #149
How do I install beta4 then? `dnvm install 1.0.0-beta4` and `dnvm install 1.0.0-beta4 -u` both fail. They require me to clean up `~/dnx/runtimes` before trying again too.

[2015-04-30 01:18] spboyer commented on #149
`dnvm install 1.0.0.0-beta4` should work, you can also do
[code]
that worked on another machine I have

[2015-04-30 01:59] TravisTheTechie commented on #149
Once I got beta4 installed, `Compiler` no longer created in the folder. :+1:

[2015-04-30 01:59] #149 closed

[2015-05-01 09:39] Spencerooni commented on #138
@chrisdias Just encountered this. Your suggestion nearly worked for me but I had to use `export MONO_MANAGED_WATCHER=false` not `export MONO_MANAGED_WATCHER=disabled`.

[2015-05-02 22:33] sgentile commented on #140
+1

[2015-05-05 09:33] JayAtCornwallCollege opened #155 "on windows I get 'dnu is not recognised as an internal or external command'"
Where do I get dnu from?

[2015-05-05 18:14] peterblazejewicz commented on #155
@JayAtCornwallCollege
Depending on system there are different ways to install new runtime tools, please see instruction on asp.net/home project:
https://github.com/aspnet/home#getting-started-on-windows
https://github.com/aspnet/home#os-x
https://github.com/aspnet/home#linux

[2015-05-05 18:40] peterblazejewicz commented on #155
Wait, there are docs now:
http://docs.asp.net/en/latest/getting-started/index.html

[2015-05-06 20:25] peterblazejewicz commented on #155
@JayAtCornwallCollege :wave:

[2015-05-06 20:27] peterblazejewicz commented on #130
Assumed LGTM by Sayed first comment, the ticket was for reviewing purposes.
Thanks!

[2015-05-06 20:27] #130 closed

[2015-05-08 20:32] peterblazejewicz opened #158 "Add short copy paragraph about ASP.NET 5 in documentation"
There is another project documenting ASP.NET out there:
http://docs.asp.net/en/latest/
and I think the link to that excellent resource can be added to README.MD, at least as link to dedicated documentation about what ASP.NET 5 is about, what are these __required__ `dnx`-es.
Short and consistent.

In case you guys missed mentioning they (still) have empty spots to be filed in that documentation:
ht

[2015-05-09 10:38] geirsagberg commented on #138
Had the same problem, `export MONO_MANAGED_WATCHER=false` fixed it for me as well.

[2015-05-09 14:29] jrock2004 commented on #138
With false will it detect change or do you still need to restart after every change?

[2015-05-09 14:35] geirsagberg commented on #138
It would seem changes are not detected, unfortunately, so this is hardly a permanent solution.

[2015-05-09 23:58] MiguelLattuada opened #159 "Subgenerators workflow suggestions."
__This should be useful.__
1. The [options] parameter described in subgenerators *(yo aspnet --help)* has no documentation.
2. In the console situated at the root folder of my project when I run
[code]
this should create the __EdgesController.cs__ class in the __/Controller__ folder, and not the __Edges.cs__ class in the __/root__ folder like it does. The same for the other items.
3. I should be a

[2015-05-10 00:16] johnpapa commented on #140
+1

[2015-05-10 00:28] johnpapa commented on #138
`export MONO_MANAGED_WATCHER=false` fixes it for now, but I agree that the watcher should detect changes long term

[2015-05-10 01:15] johnpapa commented on #138
any update on this @sayedihashimi or guidance?

[2015-05-10 03:12] scionwest commented on #138
Using `export MONO_MANAGED_WATCHER=false` didn't solve the issue for me. Are there other work-arounds for this issue?

[2015-05-10 08:50] geirsagberg commented on #138
It seems changes are not detected when using Kestrel regardless of whether `MONO_MANAGED_WATCHER` is `true` or `false`. Relevant thread: https://github.com/aspnet/Hosting/issues/45

[2015-05-10 09:42] geirsagberg opened #160 "Web Application template in Kestrel causes 100% CPU"
1. Run `yo aspnet` and select Web Application
2. `dnu restore`
3. `dnx . kestrel`
4. Navigate to `localhost:5001`
5. Open Activity Monitor and notice the `mono-sgen` process using ~100% cpu

This doesn't happen with the sample at https://github.com/aspnet/Home/tree/dev/samples/1.0.0-beta4/HelloMvc. Any ideas why?

[2015-05-10 13:45] peterblazejewicz commented on #160
@geirsagberg out of curiosity, which version of mono is set as default on your machine? (I'm unable to run builds due to these mono pending issues on OS X)

[2015-05-10 17:47] usersxm commented on #138
I am having the exact same problem as you.
![captura de pantalla 2015-05-10 14 45 59](https://cloud.githubusercontent.com/assets/9682572/7555485/51bff2aa-f723-11e4-969d-745ba9c5d230.png)

That was after doing the false/disable thing.. Did you solve the problem?

[2015-05-10 20:18] peterblazejewicz commented on #138
@usersxm I'm afraid that is still a valid problem and fixing it depends on 3rd party

[2015-05-10 20:57] akamud commented on #140
+1

[2015-05-11 06:37] geirsagberg commented on #160
I'm using Mono 4.0.1.

[2015-05-12 04:19] hanu412 opened #161 "VisualStudioCode : How to restore packages?"
I am getting started with visual studio code. I had set-up Yeoman with the aspnet generator. I loved the ASPNET5 webtemplate which it had generated for me. I am stuck with the package restoration.
Do we have any command which I can run to restore those packages to have the web application up and running?

[2015-05-12 04:26] chrisdias commented on #161
Hi - Did you install the .NET Runtime from here: https://github.com/aspnet/home#upgrading-dnvm-or-running-without-visual-studio? Once you do this, you can run "dnu restore" from the terminal in the folder where the app was generated.  You will have to restart VS Code (or open the command palette using cmd+p and running "reload window").

[2015-05-12 04:26] #161 closed

[2015-05-12 04:36] hanu412 commented on #161
yes I do have the latest dnvm. I did try this one. Since I got the template by running some yo commands,I thought there might be a yo command to restore the packages too.

I must say,omnisharp team is awesome. It's a great utility for those who love to work from the command line.

[2015-05-12 04:38] hanu412 commented on #155
Do you have the dnvm setup on your machine? If not,you might see the message you're seeing.

[2015-05-12 20:43] #155 closed

[2015-05-13 02:16] hanu412 opened #162 "Can we have a SignalR "Hub.cs" template in the offering?"
I think having a SignalR template in  the project would add more value to the aspnet-generator. We do not have to create this Hub.cs file when we run the generator initially but can we have it as an add-on?
Can we have it - run a yo command to have it installed/set-up?

[2015-05-13 08:12] JayAtCornwallCollege commented on #155
Many thanks. you helped me solve it.

[2015-05-13 17:58] sayedihashimi opened #163 "Web template should use gulp by default"
VS2015 RC now uses gulp by default instead of grunt, we should too. If we have a compatible grunt file then we can add a --grunt option.

cc @chrisdias @aeschli

[2015-05-13 18:00] sayedihashimi opened #164 "Web template should be updated to use In memory db for xplat scenarios"
Before adding support for beta4 templates the web template was using the EF InMemoryStore. With the beta4 templates they do not have the functionality and because of it register/login do not work on cross platform.

For reference here is the code from beta3.
https://github.com/OmniSharp/generator-aspnet/blob/b1e99286bab297391105ab3e5878af52254ca484/templates/projects/web/startup.cs#L40.

cc @chris

[2015-05-13 18:58] peterblazejewicz commented on #162
@hanu412
Do you think that adding only scaffolded Hub class would be enough in most cases?

Do you now if that official SignalR template project is updated or forked to work with ASP.NET 5?
https://github.com/SignalR/SignalR-StockTicker

/cc @sayedihashimi

[2015-05-13 19:06] hanu412 commented on #162
I guess we need the Hub class, SignalR dll(namespace) and the jquery-signalr javascript file . With these componets it should be fine. Looks like StockTicker is an example which  Damian Edwards might have used to demo SignalR. I have seen him(online) talk on SignalR a lot. The template project was last updated in Jan,which tells me it is not yet updated. But I heard, SignalR-v3 is being shipped wi

[2015-05-13 19:10] peterblazejewicz commented on #164
x-reference:
https://github.com/aspnet/EntityFramework/releases/tag/7.0.0-beta4

There is SQLite updated supported mentioned in the docs

[2015-05-13 19:18] peterblazejewicz commented on #162
That's more then one file - so probably simple scaffolded project will be better. I can help with making one into real thing (OFC when the mono 4.0.* bug will be fixed :( )
:+1:

[2015-05-13 19:21] hanu412 commented on #162
awesome. I want to contribute by making it. But I need some guidance. Could you guide me so I can come up with it?

[2015-05-13 20:08] sayedihashimi opened #165 "Add xUnit test project"
Here is an xUnit test project that we can use that is based on beta4 https://dl.dropboxusercontent.com/u/40134810/SideWaffle/issue-259/UnitTestProject.zip. I haven't tried on mac/linux yet but will try on mac soon. I think it should work there.

FYI the contents of project.json in the link have ```beta4```, we should update that to ```beta5```

[2015-05-13 20:09] sayedihashimi commented on #29
Replaced with #165

[2015-05-13 20:09] #29 closed

[2015-05-13 20:09] sayedihashimi commented on #75
Replaced with #165

[2015-05-13 20:09] #75 closed

[2015-05-13 20:10] sayedihashimi commented on #68
We will have a new template soon, see #165. I'll close this now.

[2015-05-13 20:10] #68 closed

[2015-05-13 20:15] peterblazejewicz commented on #165
@sayedihashimi

Unfortunately that dreaded mono 4.0.* `System.IO.EndOfStreamException: Failed to read past end of stream.` prevents from building that project :crying_cat_face: :
#140

[2015-05-13 21:10] sayedihashimi commented on #165
What about dnx . test does it run the tests?

[2015-05-14 12:08] geirsagberg commented on #160
Strange... it seems the more files I have in the project, the higher the CPU usage; I can lower the cpu usage by removing node_modules/ and bower_components, for example. Could this be an issue with the file watcher?

[2015-05-14 20:33] peterblazejewicz commented on #165
@sayedihashimi

This worked:
[code]

[2015-05-15 17:26] geirsagberg commented on #160
I have successfully reproduced this issue with the HelloMvc sample as well, once I started adding a few NPM and Bower packages. Closing this issue in lieu of a new issue in the Kestrel repo.

[2015-05-15 17:26] #160 closed

[2015-05-20 11:25] xtianus79 commented on #163
Is this the starter web template?

[2015-05-20 18:50] peterblazejewicz commented on #163
That's hard to tell why Gulp is preferred (maybe it is shorter and leaner, I use Gulp whenever possible), similar:
https://github.com/aspnet/Home/issues/156

[2015-05-20 20:59] xtianus79 commented on #163
My issue with Gulp is that it is not on parity with functionality of Grunt at this moment.  Yes there are plugins that can utilize grunt inside of gulp but at that point why would anyone do that... I know people like the easier things per se but for the most part of the simple things gulp does they are simple in grunt too.  The more complex things grunt can do gulp does not.

I'm all for new if it

[2015-05-20 21:06] sayedihashimi commented on #163
@xtianus79 if you'd like to discuss what's the default task runner in Visual Studio you can file an issue at https://github.com/aspnet/tooling.

[2015-05-25 20:28] MaximRouiller commented on #147
Is that live? Updating my template still gives me this error. :(

[2015-05-25 20:41] peterblazejewicz commented on #147
@MaximRouiller I think the fix was merged into master just after *.34 release was tagged and published:
https://github.com/OmniSharp/generator-aspnet/commit/7239b6640a03f2cee67f2c330aa5f575b021bf96
(I've checked this by moving to this commit).

[2015-05-25 22:03] xtianus79 opened #166 "What changed with DNU / DNX... It seems there is instructions missing from the readme"
I am assuming KPM is dead long live DNU?  lol I will go find it but was wondering if the installation process and procedure should either be placed in the readme or at least linked to?

your thoughts

[2015-05-26 04:06] xtianus79 commented on #166
this was helpful.

https://github.com/aspnet/home

and perhaps this too.

http://docs.asp.net/en/latest/dnx/overview.html

[2015-05-26 06:10] peterblazejewicz commented on #166
There is similar issue I've created:
https://github.com/OmniSharp/generator-aspnet/issues/158
Basically go to ASP.NET 5 documentation and follow official documentation when installing runtime and tools. They are somehow outside of the scope of this project now.

[2015-05-26 16:10] xtianus79 commented on #166
@peterblazejewicz does the ASP.NET 5 documentation explain it the way the first link explains it?  otherwise I would have been totally lost.  Moreover, the getting rid of the KRE_Home variable is proving to be a nightmare.

[2015-05-26 16:17] xtianus79 opened #167 "There seems to be some confusion about what is being used for copyTtpl vs simply copy and whitespacing"
I waited a while so things could progress on the VS VNext end and then update my fork.  LOL, well that was a bit painful... As change always is.  However, going through the lines of code I don't have a complete understanding of why copyTpl vs copy is utilized throughout the web template.

I know what they do and perhaps it should be clear on when they should be used or not.  If I see CopyTpl I am

[2015-05-26 18:37] peterblazejewicz commented on #167
Don't assume, the project just uses current implementation and common tools:

- the current and next versions of Yeoman (this generator is not yet updated for this) use fs-mem package and EJS templating - not Lodash or Underscore. They have migrated to EJS because EJS gives more control on templating and generates better code/cleaner code compared to simpler Underscore templating:

https://github.

[2015-05-26 18:39] peterblazejewicz commented on #166
After there is official documentation (which we can improve via Github) I'd never advise to use just project readme :D I'd rather contribute to documentation.

[2015-05-26 21:11] peterblazejewicz commented on #147
@MaximRouiller
The *.35 has been puslished:
https://github.com/OmniSharp/generator-aspnet/commit/e1b4cf7a35be6340df1a497634f936a2b0dec4ce

[2015-05-26 21:20] MaximRouiller commented on #147
Seen it. Tested it. Loved it!

On Tue, May 26, 2015 at 5:11 PM Peter Blazejewicz <notifications@github.com>
wrote:

[2015-05-27 20:44] peterblazejewicz opened #168 "Add package.lock.json config file to .gitignore"
I've found this myself (after I finally give up and installed mono via make/github) that `dnx` now creates `package.lock.json` config-like file:
https://github.com/aspnet/Home/wiki/Lock-file
It should be added to `.gitignore` as by design it should be local to project/machine, unless specifically added.
The ASP home project lists that file in `.gitignore`:
https://github.com/aspnet/Home/blob/dev/.

[2015-05-27 20:45] peterblazejewicz commented on #168
Ha, @sayedihashimi  made this:
https://github.com/github/gitignore/commit/467e257fdb71b6b920dde08ef16337e80ef91bb6
Let me do PR

[2015-05-27 20:59] sayedihashimi opened #170 "Delete samples folder"
I noticed that we still have a [```samples```](https://github.com/OmniSharp/generator-aspnet/tree/master/samples) folder. I think this was a hold over from before we moved to ```templates```. It should be removed.

[2015-05-27 21:01] sayedihashimi opened #171 "Update namespace for sub generators"
When a sub generator is invoked current we are hard coding to ```MyNamespace```. Better would be to populate the template data object with two values.

 - ApplicationName = folder name where ```project.json``` resides
 - Namespace = relative path from project.json to current folder (replace ```/``` with ```.```) and fix casing

[2015-05-27 21:02] peterblazejewicz commented on #170
:+1:  it reads old-good '1.0.0-beta2'

[2015-05-28 01:13] xtianus79 opened #172 "New changes incorporated into my fork from generator-aspnet crash VS 2015 RC"
I can't figure why but haven't heard anything from the aspnet dev team.

https://github.com/aspnet/Home/issues/635

wondered if it might be something I need to add to the gitignore or something else.

I have a file error log report included in the link...

[2015-05-28 01:34] sayedihashimi commented on #172
Please port the issue to https://github.com/aspnet/tooling instead of aspnet/home. Since there is no action on the generators team ill close this now.

[2015-05-28 01:34] #172 closed

[2015-05-28 01:40] xtianus79 commented on #172
Ok thanks. Do you have any clue what might be triggering this.

[2015-05-28 20:10] peterblazejewicz commented on #171
@sayedihashimi Entire project can be scaffolded that way. Angular generator scaffolds namespace and project name in similar ways:
https://github.com/yeoman/generator-angular/blob/master/app/index.js#L13-L42
If implementation is started based on linked code example or similar, one should remember to use underscore.strings as project dependency, as it is deprecated in Yo:
https://github.com/yeoman/g

[2015-05-28 20:17] peterblazejewicz commented on #170
@sayedihashimi
It's used in current implementation for `unittest`:
https://github.com/OmniSharp/generator-aspnet/blob/d1fa3484acea0f25b076150e049d9cb8037278e2/app/index.js#L235
Also:
https://github.com/OmniSharp/generator-aspnet/blob/d1fa3484acea0f25b076150e049d9cb8037278e2/e2etest.sh#L8
https://github.com/OmniSharp/generator-aspnet/blob/master/app/index.js#L47-L50

[2015-05-29 13:24] nojaf opened #173 "Richer WebApi project"
It would be nice to see a richer WebApi project template with some basic Identity stuff as in the Mvc template.

[2015-06-03 18:01] shanselman opened #174 ""build" in the command line is optional, say it."
In the instructions here:

[code]

perhaps like

[code]

[2015-06-03 21:59] #168 closed

[2015-06-04 17:50] tbehunin commented on #174
+1

[2015-06-04 17:57] #174 closed

[2015-06-05 14:46] xtianus79 commented on #174
I believe there should be more instruction here as well.  For example the user has to run dnu restore for anything to work in the first place

[2015-06-05 20:15] david-driscoll commented on #159
This also has an effect on atom-yeoman and the integration with Omnisharp Atom.  If the `.yo-rc.json` exists, then yeoman forces changes the working directory to the root project folder.  When we're trying to allow the user to add a class to the currently selected folder in the tree.

[2015-06-05 21:01] xtianus79 commented on #159
Yes, we could do this and I agree but there should be a total redesign of how the subgenerators work in general... i.e. taking on namespaces and applicationname.

[2015-06-09 13:35] spboyer commented on #170
@peterblazejewicz `unittest` is not in the options for the project types right now. We can move the unittest code to the `/templates/projects` folder and then delete the `/samples` dir.

Also the `PROJECTSDIR` ref is not used in the e2etest.sh at this time, so there is no danger there in removing it.

thoughts?

@sayedihashimi

[2015-06-09 15:27] sayedihashimi commented on #170
Agreed

[2015-06-09 18:23] peterblazejewicz commented on #170
TODO:
- [ ] move `unittest` content into `/templates/projects/unittest`
- [ ] remove `/samples` directory
- [ ] cleanup references in generator

[2015-06-15 09:58] alexandros-s commented on #165
That would be a great addition, it was quite easy to add xunit myself but it will be awesome to have this preset by the generator.

[2015-06-15 16:51] jrock2004 opened #182 "Server starts but white page (Windows 8.1)"
I just built a web application, I started the server and my browser opens and I get a white page. Any ideas?

[2015-06-15 20:30] peterblazejewicz commented on #182
No erorrs in console, what about source/markup of that white page, is there any?

[2015-06-15 20:56] sayedihashimi commented on #182
What OS are you running? And what version of dnx?

[2015-06-16 00:18] jrock2004 commented on #182
I get 2 console errors with the error "Failed to load resource: the server responded with a status of 500 (Internal Server Error)" for favicon.ico and localhost:8716

Oh I see. The DNX version I have is 1.0.0-beta5-12021. So let me update the dep to beta5 and see if that works

[2015-06-16 00:33] jrock2004 commented on #182
ok, so I switched the project to use beta 4 restored the packages and this is the error

Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1':
  EntityFramework.Commands 7.0.0-beta4
  EntityFramework.SqlServer 7.0.0-beta4
  Kestrel 1.0.0-beta4
  Microsoft.AspNet.Authentication.Cookies 1.0.0-beta4
  Microsoft.AspNet.Authentication.Facebook 1.0.0-beta4
  Microsoft.A

[2015-06-18 08:54] DamianEdwards opened #183 "Add an option to use unstable package feed"
It would be great if the project generators had an option to use the unstable package feed ([aspnetvnext](https://www.myget.org/F/aspnetvnext/api/v2)). This would drop a `nuget.config` file in the project folder configured to use the feed (e.g. like [this](https://github.com/aspnet/Localization/blob/dev/NuGet.Config)) as well as setting the package dependencies versions in `project.json` to * inst

[2015-06-18 14:46] rustd opened #184 "ASP.NET Class Library Template for Beta5"
The files are here
https://onedrive.live.com/redir?resid=43459A6389A804D9!94671&authkey=!AIp9Yay6q41odtI&ithint=file%2czip

[2015-06-18 14:46] rustd opened #185 "ASP.NET Console App Template for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94672&authkey=!ACAZTR07BatRWE4&ithint=file%2czip

[2015-06-18 14:47] rustd opened #186 "ASP.NET Empty Template for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94673&authkey=!AHE8H8l7OwMfcq4&ithint=file%2czip

[2015-06-18 14:47] rustd opened #187 "ASP.NET Server Side Item templates for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94675&authkey=!ADLdrmPtIDL6XQw&ithint=file%2czip

[2015-06-18 14:47] rustd opened #188 "ASP.NET Client Side Item templates for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94674&authkey=!AA7aI5UoOEZ6Zcg&ithint=file%2czip

[2015-06-18 14:47] rustd opened #189 "ASP.NET Web API Template for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94676&authkey=!AK_F4dzipIag-U8&ithint=file%2czip

[2015-06-18 14:48] rustd opened #190 "ASP.NET Web App Template with No Auth for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94677&authkey=!AAC66v3yHucrpvU&ithint=file%2czip

[2015-06-18 14:48] rustd opened #191 "ASP.NET Web App Template with Authentication for Beta5"
https://onedrive.live.com/redir?resid=43459A6389A804D9!94678&authkey=!AJvRGFbf3ebk55I&ithint=file%2czip

[2015-06-18 14:57] rustd commented on #188
Look in the wwwroot folder.
Following are the names of the Item Templates in order
* Bower Configuration File (include bower.json and .bowerrc)
* AngularJs Module (app.js)
* CoffeeScript File (CoffeeScript.coffee)
* AngularJs Controller (controller.js)
* AngularJs Controller using $scope (controller1.js)
* AngularJs Directive (directive.js)
* AngularJs Factory (factory.js)
* TypeScript File (file.

[2015-06-18 15:00] rustd commented on #187
Following are the names of the Item Templates in order

* MVC View Layout Page
* MVC View Imports Page
* MVC View Start Page
* Class
* ASP.NET Configuration File
* MVC Controller Class
* MVC View Page
* Interface
* Middleware Class
* Startup Class
* Razor Tag Helper
* Text File
* Web API Controller Class

[2015-06-18 16:47] sayedihashimi opened #192 "Updates for beta5"
OK we can now start getting ready for beta5 templates. We should do this work in a new ```beta5``` branch and then when ready merge to ```master``` and then publish.

We have the following work ahead of us.
### Top priority items
 - [x] Create beta5 branch
 - [x] [ASP.NET Web API Template for Beta5](https://github.com/OmniSharp/generator-aspnet/issues/189)
 - [x] [ASP.NET Empty Template for Beta5]

[2015-06-18 16:51] sayedihashimi commented on #183
How about adding a sub-generator (i.e. item template)? I think adding the sub-gen would be simpler, we can add the option as well to the generator but that may take more time.

Can you paste the content of the nuget.config file that you are looking for?

[2015-06-18 18:13] peterblazejewicz commented on #184
:me: Let me start with this one

[2015-06-18 18:13] rustd commented on #192
The only change required for Beta5 is to drop the timestamp from the package versions. The packages with no timestamp are not available on aspnet release feed so I didn't drop the timestamp since the samples won't work

[2015-06-18 18:14] sayedihashimi commented on #192
@rustd can you give specific steps on how to test the templates today with the pre-release feed?

[2015-06-18 18:14] rustd commented on #192
Set the NuGet feed to be https://www.myget.org/F/aspnetrelease

[2015-06-18 18:26] peterblazejewicz commented on #183
Something like would be OK, it's commonly used solution I believe:
[code]
The subgenerator option can also work, it could:
- read `project.json` (if exists), make change and write back
- copy config file

[2015-06-18 21:00] sayedihashimi commented on #184
Thanks @peterblazejewicz assigned it to you.

[2015-06-18 21:02] peterblazejewicz commented on #185
@sayedihashimi :me: as :construction_worker:

[2015-06-18 21:02] sayedihashimi commented on #184
Related PR #194

[2015-06-18 21:03] sayedihashimi commented on #187
Related PR #193

[2015-06-18 21:17] sayedihashimi commented on #185
Thanks @peterblazejewicz I have assigned it to you

[2015-06-18 21:26] peterblazejewicz commented on #186
@sayedihashimi :me: as :construction_worker:

[2015-06-18 21:30] peterblazejewicz commented on #186
`hosting.ini` is a new file:
https://github.com/aspnet/Hosting/issues/277#issuecomment-103952499

[2015-06-18 22:08] sayedihashimi commented on #186
Related #196

[2015-06-19 12:04] Yantrio commented on #192
Nancy seems to be left off the list again?

[2015-06-19 16:36] sayedihashimi opened #197 "Update Nancy generator for beta5"
We should update the Nancy generator for beta5.

[2015-06-19 16:42] sayedihashimi commented on #192
@Yantrio sorry about that, it was not intentional. I was going off the list of issues that @rustd created, which was based off updates to Visual Studio.
Now that you mention it I also forgot about adding a unit test template. I've added both the this issue and marked the issues as ```beta5```.

@Yantrio can you help with the Nancy template?

[2015-06-19 17:27] #185 closed

[2015-06-19 17:36] sayedihashimi commented on #184
@rustd the project.json has the following.

[code]

I've never seen this before and I get errors when trying to build on Mac. Was this an error? The previous version of the template contained the following.

The previous version of the template contained the following instead.

[code]

When I try to use that value I get an error when running ```dnu build``` on Mac.

cc @peterblazejewicz
[code]

[2015-06-19 17:38] sayedihashimi commented on #186
Blocked by error https://github.com/OmniSharp/generator-aspnet/pull/196#issuecomment-113577033

[2015-06-19 18:45] sayedihashimi commented on #190
For this template we'll need to create a new option, the existing web template has auth and it's called ```web```. How should we handle this? Should we create two entries:
 - ```web - individual auth```
- ```web - no auth```

Or should we be more sophisticated and add an option for the auth type? I think adding an option is good, but it's also less discoverable.

cc @peterblazejewicz @spboyer

[2015-06-19 19:08] peterblazejewicz opened #198 "Subgenerator for `hosting.ini`"
It appears that `hosting.ini` will have important meaning in upcoming ASP.NET project and having separate generator can be useful, for example when user wants to update existing, older project or just create entire project step by step.
That's hard to decide this right now I think before that `beta5` release, but let's have this topic discussed.
Thanks!

[2015-06-19 19:20] peterblazejewicz commented on #190
@sayedihashimi
As far as I can see from the source the `WebApplication_IndividualAuth` is just updated version of current web application template project (a sophisticated one). The `WebApp_NoAuth` is much simpler, has different content and structure.
How will they be created in Visual Studio? Do you know how people like @shanselman plan to promote this content? I've referenced Scott, maybe we wil

[2015-06-19 19:46] peterblazejewicz commented on #192
a note, I had `dnu` affair (not executable) so I had to make sure that `beta5` is used by dnvm instead of beta6:
[code]

[2015-06-19 20:03] peterblazejewicz commented on #189
@sayedihashimi I can prepare PR (though I have problems compiling final projects with 'beta5' version).
Thanks!

[2015-06-19 20:06] sayedihashimi commented on #189
Thanks @peterblazejewicz if you can create and send the PR that will be great. I'll followup with the team on the issues. I'll assign the item to you now.

[2015-06-19 20:23] peterblazejewicz commented on #189
Quesetion: should I ignore `launchSettings.json` from generated sample?

[2015-06-19 20:27] spboyer commented on #190
I'm not a fan, or quickly becoming not a fan, of options. If they are misspelled or case sensitive the generation does the default. I propose a question with selection

[2015-06-19 20:27] sayedihashimi commented on #191
I tried the content that you provided, after removing browser link I am getting the following error.

[code]

We're also seeing errors in the

[2015-06-19 20:38] sayedihashimi commented on #184
FYI I was getting an error before but that was because I was using dnx ```beta4``` after switching to ```beta5``` I no longer received the error, but I'd still like to confirm that ```dotnet``` is the correct fx name. @rustd @glenncc ?

[2015-06-19 20:44] sayedihashimi commented on #190
FYI I tried the No auth content that @rustd and after removing Browser Link dnu restore works but I get an error on dnx . kestrel.

[code]

I will reply back later regarding comments from @peterblazejewicz and @spboyer

[2015-06-19 20:47] peterblazejewicz commented on #184
:ear:

[2015-06-19 20:55] sayedihashimi opened #200 "Blocking issues with beta5"
We have the following blocking external errors for creating the beta5 templates.

 - ~~[web empty: several build errors](https://github.com/OmniSharp/generator-aspnet/pull/196#issuecomment-113624579)~~
 - ~~[web empty: kestrel: System.TypeInitializationException](https://github.com/OmniSharp/generator-aspnet/pull/196#issuecomment-113624579)~~
 - ~~[web no auth: kestrel: System.TypeInitializationEx

[2015-06-19 21:05] sayedihashimi commented on #189
@peterblazejewicz it's used by Visual Studio. I think it would be good to include it in the generator for the cases where the project is used on both Mac + Windows. Since the file is under Properties I don't think many people will notice so there should be no harm in including it.

[2015-06-19 21:26] rustd commented on #184
donet is the correct fx name for Class Library projects

[2015-06-19 21:45] sayedihashimi commented on #184
Thanks @rustd I've merged @peterblazejewicz PR

[2015-06-19 21:45] #184 closed

[2015-06-19 22:10] peterblazejewicz commented on #189
`launchSettings.json` added in PR:
https://github.com/peterblazejewicz/generator-aspnet/blob/update/webapi-project/templates/projects/webapi/Properties/launchSettings.json

[2015-06-19 22:14] rustd commented on #189
Here are the changes needed
* project.json

Package name is Kestrel instead of Microsoft.AspNet.Server.Kestrel
    "Kestrel": "1.0.0-beta5",

The commands section should have
  "commands": {
    "kestrel": "Microsoft.AspNet.Hosting --server Kestrel --config hosting.ini",
    "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --config hosting.ini"
  },

* hosting.ini

Thi

[2015-06-19 22:15] rustd commented on #186
Here are the changes needed
* project.json

Package name is Kestrel instead of Microsoft.AspNet.Server.Kestrel
    "Kestrel": "1.0.0-beta5",

The commands section should have
  "commands": {
    "kestrel": "Microsoft.AspNet.Hosting --server Kestrel --config hosting.ini",
    "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --config hosting.ini"
  },

* hosting.ini

Thi

[2015-06-19 22:15] rustd commented on #191
Here are the changes needed
* project.json

Package name is Kestrel instead of Microsoft.AspNet.Server.Kestrel
    "Kestrel": "1.0.0-beta5",

The commands section should have
  "commands": {
    "kestrel": "Microsoft.AspNet.Hosting --server Kestrel --config hosting.ini",
    "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --config hosting.ini"
  },

* hosting.ini

Thi

[2015-06-19 22:15] rustd commented on #190
Here are the changes needed
* project.json

Package name is Kestrel instead of Microsoft.AspNet.Server.Kestrel
    "Kestrel": "1.0.0-beta5",

The commands section should have
  "commands": {
    "kestrel": "Microsoft.AspNet.Hosting --server Kestrel --config hosting.ini",
    "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --config hosting.ini"
  },

* hosting.ini

Thi

[2015-06-19 22:31] rustd commented on #200
Here are the changes needed to fix these errors
* project.json

Package name is Kestrel instead of Microsoft.AspNet.Server.Kestrel
    "Kestrel": "1.0.0-beta5",

The commands section should have
  "commands": {
    "kestrel": "Microsoft.AspNet.Hosting --server Kestrel --config hosting.ini",
    "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --config hosting.ini"
  },

[2015-06-20 17:05] sayedihashimi commented on #190
Here is an updated zip file that has @rustd's suggested changes https://www.dropbox.com/s/skt0wuaad496iql/WebApp_NoAuth.zip?dl=0. I've verified that restore/build/kestrel work.

I noticed that ```CTRL+C``` doesn't stop kestrel but ```CTRL+Z``` does.

[2015-06-20 17:20] sayedihashimi commented on #191
Here is an updated zip file with @rustd's changes https://www.dropbox.com/s/lzblz1luwhmkcix/WebApplication_IndividualAuth.zip?dl=0.

After this ```dnu restore``` and ```dnu build``` work but when running kestrel I get the following error on Mac

[code]

@rustd please provide an updated zip file with content that actually works on mac.

cc @danroth27

[2015-06-20 17:24] sayedihashimi commented on #191
@rustd @danroth27 the comment above is not an issue with the template but instead something else related to killing kestrel. When I tested the web empty template when i ran ```dnx . kestrel``` it started correctly. I tried to close kestrel with ```CTRL+C``` but that didn't work as it used to. Then I tried ```CTRL+Z``` and it stopped kestrel. Then when I tested this I got the EADDRINUSE error which

[2015-06-21 04:48] #189 closed

[2015-06-21 04:48] sayedihashimi commented on #189
Closing thanks @peterblazejewicz

[2015-06-21 04:48] sayedihashimi commented on #186
Closing thanks @peterblazejewicz

[2015-06-21 04:48] #186 closed

[2015-06-21 16:55] peterblazejewicz commented on #191
I've taken this one.
@sayedihashimi I'll upload changes via PR and in the case of problems with building (I assume I'll have the same problems as previously) you or someone else will have to verifty how it runs under beta5
Does it sounds OK?

[2015-06-21 17:53] sayedihashimi commented on #191
Yes, I'll verify it. Thanks a lot

[2015-06-21 20:04] peterblazejewicz commented on #163
This was fulfilled via #180
https://github.com/spboyer/generator-aspnet/commit/3c6b22a00af63c0c7a39c713cb0dfc6a608f9737

[2015-06-21 20:04] #163 closed

[2015-06-21 20:24] peterblazejewicz commented on #187
@sayedihashimi assign to :me:

[2015-06-21 20:41] sayedihashimi commented on #187
Assigned!

[2015-06-21 21:16] peterblazejewicz opened #206 "_ViewImports.cshtml has no content in sample archives for beta5"
I've created a subgenerator for MVC View Imports Page item template - but files for that template (in combo and in single example archive for item templates) are empty. Is that by design?
https://github.com/peterblazejewicz/generator-aspnet/commit/8b922b082d9d9cc5d5ad33b91cd70714a0d33c14

/cc @rustd

[2015-06-21 22:52] #191 closed

[2015-06-21 22:52] sayedihashimi commented on #191
Closed it, thanks @peterblazejewicz

[2015-06-22 16:48] rustd commented on #206
Yes, this is by design

[2015-06-22 18:10] BrennanConroy commented on #200
https://github.com/aspnet/KestrelHttpServer/issues/111

[2015-06-22 18:11] BrennanConroy opened #207 "_ViewImports.cshtml has hardcoded namespace for line 1& 2 [beta5]"
@sayedihashimi

[2015-06-22 18:16] sayedihashimi commented on #207
It's a known issue for all sub-generators at this time https://github.com/OmniSharp/generator-aspnet/issues/171.

I'll ask @mayurid if we can get someone to work on it.

[2015-06-22 18:16] #207 closed

[2015-06-22 18:16] sayedihashimi commented on #171
@mayurid can we get someone to help out here?

[2015-06-22 18:47] peterblazejewicz commented on #206
Thanks! Closing

[2015-06-22 18:47] #206 closed

[2015-06-23 19:40] peterblazejewicz commented on #188
Naming should be discussed - the items are to be rendered via subgenerators - each subgenerator for one particular type (exception Bower). What is expected naming? For example:
[code]
or:
[code]
How they are named in VS?

[2015-06-23 23:08] sayedihashimi commented on #187
All PRs have been merged. Closing.

[2015-06-23 23:08] #187 closed

[2015-06-23 23:13] sayedihashimi commented on #188
I don't think that we need the ```(...)``` content with the file name. That will show up as the default name of the file so it doesn't have to be in the name of the sub-generator itself. Regarding ```controller1.js```, it should just be ```controller.js``` (no ```1```).

In VS the names are the following.
 - LESS Style Sheet
 - SCSS Style Sheet (SASS)
 - AngularJs Controller
 - AngularJs Controlle

[2015-06-23 23:14] sayedihashimi commented on #197
@Yantrio @jchannon any thoughts about updating for ```beta5```?

[2015-06-23 23:41] sayedihashimi opened #223 "Delete develop branch"
@spboyer @peterblazejewicz @larsw

The following branches don't have any recent activity.

 - develop
 - larsw-unittest-beta3
 - unittest

For the unit test one we have some updated content for beta5 at https://github.com/OmniSharp/generator-aspnet/issues/165.

Can we delete these branches?

[2015-06-24 01:00] spboyer commented on #223
:thumbsup:

[2015-06-24 09:26] peterblazejewicz commented on #223
LGTM

[2015-06-24 17:46] sayedihashimi commented on #223
Deleted them

[2015-06-24 17:46] #223 closed

[2015-06-24 19:17] #167 closed

[2015-06-24 19:20] peterblazejewicz commented on #170
closed via #181

[2015-06-24 19:20] #170 closed

[2015-06-24 19:22] peterblazejewicz commented on #173
@nojaf Florian, can you consider (I could do this as well) to repost request on ASP.NET home? They originally provide all samples to community via OpenSource:
https://github.com/aspnet/Home/tree/dev/samples

[2015-06-25 19:29] peterblazejewicz opened #229 "Change Gruntfile subgenerator to simple generator - without argument"
The `Gruntfile` is always a `Gruntfile` in default settings, written uppercase and we should not use named generator - as users are expected to not modify this default name:
http://gruntjs.com/getting-started

Due to this assumptions user can just type: 'grunt' and by convention the 'Gruntfile' file will be used.

Historic background:
https://github.com/gruntjs/grunt/issues/110

I'll make a change

[2015-06-26 17:25] sayedihashimi commented on #229
Thanks @peterblazejewicz  I agree its better to use ```Gruntfile```.

[2015-06-26 17:27] sayedihashimi commented on #229
Closed via #230

[2015-06-26 17:27] #229 closed

[2015-06-27 15:44] peterblazejewicz commented on #188
@sayedihashimi all templates are add via renent PRs. The list above is updated and contains a links.
Thanks!

[2015-06-27 15:47] peterblazejewicz commented on #190
@me
I'll name subgenerator 'Web Application Simple'. 'Web Application No Authorization` (or No Auth) sounds just wrong.

[2015-06-27 17:38] sayedihashimi commented on #190
@shanselman, what are your thoughts on naming for the yo generator that creates a web project without auth?

[2015-06-27 17:43] peterblazejewicz commented on #190
Just as remark: previously there was a __'Starter Web'__, __'Empty Web'__ templates in VS (and generator), something I think was better fit to project nature. The actual name for generator is up to you guys, What people see in the prompt can be different from what is saved as template directory

[2015-06-29 00:41] xtianus79 commented on #105
@jrock2004 are you saying the replication of those dependencies in the wwwroot should not be there?  Yes it seems a bit awkward and has caused a great deal of planning to get around the issue in my particular build.  I have been waiting to see how things pan out and there has been a lot of code changes as of lately so I think it is time for another update.

But, to answer your question directly -

[2015-06-29 15:57] spboyer commented on #192
@peterblazejewicz @sayedihashimi - just now getting able to bring my head up for air. Is this the current status?

[2015-06-29 18:12] peterblazejewicz commented on #192
@spboyer  I think you could:
- [ ] fetch `beta5` branch and review tests - I've expanded coverage to updated and added content
- [ ] review my changes - I could miss something covered by tests
- [ ] __test `build` and `run`__ - I've problem with `beta5` on my Mac and except of library/console application I was not able to build and run advanced content (`dnu . build` and `dnx . kestrel`).
I'll wri

[2015-06-29 18:18] sayedihashimi commented on #192
At https://github.com/OmniSharp/generator-aspnet/issues/192 I have instructions on how to get it to work on Mac. It's working for me.

Note: there is a bad bug where kestrel will not stop when you use ```q```/```CTRL+C``` https://github.com/OmniSharp/generator-aspnet/issues/200. The workaround is to use ```CTRL+Z``` and then ```killall mono```. Unfortunately we will have to wait for ```beta6``` fo

[2015-06-29 19:31] peterblazejewicz opened #242 "Add #top link anchor with "Return to top"/"Top" shortcuts to README.md"
The `README.md` is rendered just as web page. The project README.md is becoming lengthier after beta5.
Can we add [Return to top](#top)
[code]
shortcuts? They are part of HTML5 and are supported natively by browsers (no JS required): pt. 2 in specs:
https://html.spec.whatwg.org/multipage/browsers.html#scroll-to-the-fragment-identifier
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
I'v

[2015-06-29 19:49] sayedihashimi commented on #242
+1

[2015-06-30 07:30] shanselman commented on #190
My *first* gut reaction was NoAuth, as "Anonymous" is no good. The question is should the default have auth, or not. Certainly it should as OAuth is becoming the norm for even basic sites.

What's our list of all generators so far, today? Did I miss those somewhere?

[2015-06-30 12:43] peterblazejewicz commented on #190
@shanselman  Projects and subgenerators:
[code]

[2015-06-30 20:02] peterblazejewicz opened #244 "Provide correct descriptions for default options for better 'usage' via '--help'"
The underlying Yo generator base outputs default options descriptions when using 'yo aspnet --help':
https://github.com/yeoman/generator/blob/master/lib/base.js#L240-L276
[code]
The better description for options is required, most notable point is `grunt` option here - people can read this from README.md, but should be able to do via command line, as Yo is console tool.

thanks!

[2015-07-01 06:55] #190 closed

[2015-07-01 06:58] sayedihashimi commented on #197
@Yantrio @jchannon I have just pushed the ```beta5``` build to travis. Nancy is still based on beta4. Can one of you update the Nancy templates?

[2015-07-01 07:28] sayedihashimi commented on #188
Closing this now everything has been merged.

[2015-07-01 07:28] #188 closed

[2015-07-01 07:29] sayedihashimi commented on #192
OK I have just released ```beta5``` to npmjs.org. I'll go ahead and close this item now. For the remaining items we can use [the query](https://github.com/OmniSharp/generator-aspnet/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3Aenhancement+label%3Abeta5).

I will also create a new issue listing the known issues for beta5.

[2015-07-01 07:29] #192 closed

[2015-07-01 07:29] #27 closed

[2015-07-01 07:36] sayedihashimi opened #246 "Known issues for beta5"
Here are the known issues in the ```beta5``` release.

### Cannot cleanly close kestrel on mac/linux
When running a beta5 web project in previous releases you could use ```CTRL+C``` to stop kestrel on mac/linux. There is an [issue](https://github.com/aspnet/KestrelHttpServer/issues/111) in the asp.net 5 runtime preventing this from working. This has already been fixed for ```beta6```.

The workaro

[2015-07-01 07:38] #200 closed

[2015-07-01 07:41] sayedihashimi commented on #192
@peterblazejewicz @spboyer we should write a blog post on the ```beta5``` updates. The entry will be posted on the [official ASP.NET team blog](http://blogs.msdn.com/b/webdev/). Since @peterblazejewicz took care of the majority of the work I'd like to give him the first opportunity to author that if he's interested.

[2015-07-01 17:10] peterblazejewicz commented on #192
@sayedihashimi I'm on my way home, still commuting. Before I'd write  something, it'll be a midnight here I think 😀

[2015-07-01 18:01] sayedihashimi commented on #192
@peterblazejewicz ok that's not a problem. I'll be traveling tmrw anyway so likely can't post it until Friday.

[2015-07-02 01:12] devhammer opened #249 "Generate Web API controller based on an existing model class"
Not sure if it's feasible, but would like to explore the possibility of adding another Web API controller option to generate a controller based on a provided class, similar to how the scaffolding for an OData Web API 2 controller works in Visual Studio.

Would be good to have both OData and non-OData options.

[2015-07-02 03:20] sayedihashimi commented on #249
@devhammer how would you get the info to create the controller? Previously we worked on [k gen](http://blogs.msdn.com/b/webdev/archive/2014/08/21/command-line-scaffolding-for-asp-net-vnext.aspx) for command line scaffolding but we've put that on the back burner for now to focus on other more important features.

[2015-07-02 04:16] devhammer commented on #249
Well, as a first pass, could you not use an additional parameter for the model name, and then build a naïve implementation that simply passes the model name as the generic type for a list returned by the GET, and the input parameter for the POST/PUT?

As I said above, I haven't had a chance to evaluate feasibility. I'm hoping to see if it's possible to have parity with the templates that are avail

[2015-07-02 18:39] peterblazejewicz commented on #249
Guys, Is that OData scaffolding add-on a built-in feature in VS? Or does it require plugin install?

[2015-07-02 19:03] peterblazejewicz opened #252 "Add coverage test for Grunt/Gulp options for Web Application Simple template"
The template is not tested or Gulp/Grunt, hence bug detected and fixed:
https://github.com/OmniSharp/generator-aspnet/pull/251
Let's cover this via Mocha tests, just as with *full* template
Thanks!

[2015-07-02 20:37] peterblazejewicz opened #254 "Fix race-condition in grunt-bower-task"
By default `grunt-bower-task` will remove (clean) installed Bower package and try to copy it, this leads to race-condition:
[code]
The fix is to not copy already installed packages - as the same directory is used in `.bowerrc` config and in `grunt-bower-task` `targetDir` option.
Similar:
https://github.com/yatskevich/grunt-bower-task/issues/134

[2015-07-02 20:41] peterblazejewicz commented on #254
as a comment: before `beta5` all client-side templates were included with source of template - so no Bower managed installation have been ocurring during installation. After `beta5`, all client side dependencies are installed via Bower (as part of build process or via Grunt task).

[2015-07-02 22:14] devhammer commented on #249
@peterblazejewicz As far as I'm aware, the OData Web API 2 controller scaffolding is built-in. I checked my installed extensions just to make sure that I didn't accidentally install that, and I'm not seeing anything that looks like a likely candidate for adding it after the fact.

[2015-07-03 13:35] jchannon commented on #197
I've just got someone to try it for me at Prognet2015 and it all works so looks to me it works fine on beta5. I think because the depednencies are 1.0.0-*

[2015-07-03 20:15] spboyer opened #255 "Latest version doesn't install with latest npm"

[2015-07-03 20:37] peterblazejewicz commented on #255
@spboyer Do you mean NPM 3? (beta, via `npm install -g npm@3.0-latest.`)

[2015-07-03 23:42] sayedihashimi commented on #192
Blog posted at http://blogs.msdn.com/b/webdev/archive/2015/07/04/updates-to-asp-net-5-yeoman-generators-for-beta-5.aspx, thanks @peterblazejewicz

cc @mayurid @danroth27 @rustd

[2015-07-04 01:07] shanselman commented on #190
I don't like Simple, as it implies that the other is very NOT Simple, but that's a nit.

  EmptyApplication
  ConsoleApplication
  WebApplication
  WebApplicationBasic? What's the difference here?
  WebAPIApplication

[2015-07-04 06:51] peterblazejewicz commented on #190
@shanselman
I think the `Basic` can be best name, because the others already use that distinction, for example Google's starter kit quick start recognizes index (default) and basic:
https://github.com/google/web-starter-kit#quickstart
I think the name choosen should be nice and easy to use in communication, including command line options

[2015-07-04 12:11] spboyer commented on #255
$yo --version
1.4.7
$npm -v
2.12.1
$npm -v
2.12.1

[code]

[2015-07-04 12:15] spboyer commented on #255
Even when I do
[code]
then run `$yo aspnet` getting old version prompts:
[code]

But in my `npm` folder I have *0.0.33* and *0.0.36*

@peterblazejewicz @sayedihashimi

[2015-07-04 12:30] sayedihashimi commented on #255
Try
sudo npm r generator-aspnet -g

To remove previous npm link usage.

[2015-07-04 12:35] spboyer commented on #255
@sayedihashimi still brings down v.0.0.33, but if I do `npm upgrade -g generator-aspnet`, I do get versioin .50 but the prompts are the old. meaning that I do not get the "w/o Auth" options.

[2015-07-04 13:29] spboyer commented on #255
I have reinstalled node, npm etc.  Still get 33 every time even though 34, 35, 36 -> 50 is there on npm.  If I specifically ask for 50 it installs but still doesn't work.  And for more fun, npm link on the repo does the same thing. I'm out of commission now. This is a whole new set of issues I have now.

@peterblazejewicz @sayedihashimi

[2015-07-04 17:13] sayedihashimi commented on #255
This is insane, is there a node_modules folder 📁 somewhere above your pwd? Do you have any old copies of the repo that you've renamed the folder? I think on mac/Linux if you rename a folder symlinks point to renamed folder. Check your symlinks.

[2015-07-04 18:17] sayedihashimi commented on #255
Maybe try npm list to see where it is installed.

[2015-07-04 19:25] spboyer commented on #255
I completely cleaned npm, and node and any existence of generator-aspnet from my machine and started clean.

As far as the machine was concerned it never had node installed nor npm.

Same issue.

[2015-07-04 19:40] xtianus79 commented on #255
@spboyer I think I've ran into a similar issue with this latest build.  I am still investigating. With that said have you went to your global npm's and adjusted things from there? That should work like a hammer.

[2015-07-05 20:24] peterblazejewicz commented on #255
@spboyer
you should get v50:
[code]
That's not the latest version your local system is installing, v.33:
[code]
I've tried this and it seems to work on my machine (package version explicit):
[code]

[2015-07-06 10:20] sandcastle opened #256 "Hyphen character in project name creates invalid namespaces"
When creating a project name using `yo aspnet` if you specify hyphens, its creates namespaces that contain hyphens which will result in the project being unable to build. Ideally the project name should be sanitised when mapping to the namespace to use for the project.

[2015-07-06 11:21] peterblazejewicz commented on #256
Maybe a solution like this one is required:
https://github.com/yeoman/generator-angular/blob/master/app/index.js#L15
and tests.

[2015-07-06 11:21] peterblazejewicz commented on #256
@sandcastle Thanks, we will check this!

[2015-07-06 13:31] spboyer commented on #255
@peterblazejewicz i know.  Even if I do an explicit `..@0.0.50` i get the proper download.  However when running `yo aspnet` the initial prompts still only gives me these

[code]

Next, I will again remove node, npm from the machine and re-install these. Then `npm install @0.0.50` explicit.  It makes no sense.  On another machine I have, no issues where I am running

[code]

@sayedihashimi

[2015-07-06 13:51] sandcastle commented on #256
Happy to send a PR if there is acceptance for taking a dependency on `underscore.string` which is used by angular generator above.

[2015-07-06 16:34] rosieks opened #258 "Angular project"
Could you provide the whole Angular project that use gulp, bower, has tasks for running various tests, etc. Something similar to https://github.com/Swiip/generator-gulp-angular but that works with .NET on the server side.

[2015-07-06 18:44] peterblazejewicz commented on #258
Note sure if that is a core feature of this generator - as the project tries to unify experience of using a template like generated content based on Visual Studio to other platforms. I think that as Angular already started appearing in the templates and they are people like John Papa involved: http://www.johnpapa.net/visual-studio-code-webinar/, there maybe will be something similar available in f

[2015-07-06 19:01] peterblazejewicz commented on #256
@sandcastle cool,
I've found a trait with official VS project name requirements ($safeprojectname$):
https://msdn.microsoft.com/en-us/library/eehb4faa.aspx
I think Sayed can know something about this :)
/cc @sayedihashimi

[2015-07-06 19:06] peterblazejewicz commented on #255
@spboyer

I could only think about previously used `npm link` still pointing to previous local version of generator via git clone. Does it make sense?

[2015-07-06 19:12] spboyer commented on #255
@peterblazejewicz hard to do...got rid of all of that as well.  Very weird going to give it another look tonight.

[2015-07-06 19:34] sayedihashimi commented on #255
What's the result when you execute the following commands?

`npm list -g generator-aspnet`
and
`npm list generator-aspnet`

[2015-07-06 22:06] spboyer commented on #255
FIXED!
https://github.com/npm/npm/wiki/Troubleshooting
https://github.com/npm/npm/wiki/Troubleshooting#if-your-npm-is-broken

Reinstall npm:
[code]
**Try clearing the npm cache**
Sometimes npm's cache gets confused. You can reset it using:
[code]

[2015-07-06 22:08] sayedihashimi commented on #255
Ok glad you got it figured out, closing this now.

[2015-07-06 22:08] #255 closed

[2015-07-07 18:07] sayedihashimi commented on #256
When you use Visual Studio to create projects $safeprojectname$ is used to ensure that a valid project name is created. It will replace characters like `-` to `_`. I looked up the code that is used to handle this and pasted it below.

[code]

It we can do the same in yo that would be nice.

[2015-07-07 18:21] peterblazejewicz commented on #256
@sayedihashimi Thanks!

[2015-07-07 19:37] #252 closed

[2015-07-07 19:46] peterblazejewicz commented on #254
closed via: 96e1c17

[2015-07-07 19:46] #254 closed

[2015-07-07 19:55] peterblazejewicz opened #263 "Update package.json license field to remove NPM warning"
When installing a fresh copy current NPM will warn about package.json invalid license name:
[code]
https://docs.npmjs.com/files/package.json#license

[2015-07-08 17:20] Spinarooni commented on #256
Unicode categories are not directly supported in Node.  Would you need some sort of package like [XRegExp](https://github.com/slevithan/XRegExp) to help replicate this code?

[2015-07-08 19:38] peterblazejewicz commented on #256
@Spinarooni I think we could make most-common cases from a code Sayed posted, so using _/underscore.strings methods will cover most cases. We could even use existing module first, like this one (which uses RegExes):
https://github.com/parshap/node-sanitize-filename
and then apply underscore.strings methods.
Thoughts?

[2015-07-08 19:40] #244 closed

[2015-07-08 19:45] #263 closed

[2015-07-08 21:13] sayedihashimi commented on #229
Thanks, I've created an issue to get the VS templates updated as well https://github.com/aspnet/Tooling/issues/108

[2015-07-08 21:17] sayedihashimi commented on #256
We don't have to use a "direct port" of the code above, but anything that works for most cases should be fine. The most important bit is to make sure projects are created with names that build by default. I think we should be able to cover this with a simple regex. You guys know node much better than I do.

[2015-07-08 21:19] sayedihashimi commented on #197
Thanks @jchannon, closing this now.

[2015-07-08 21:19] #197 closed

[2015-07-08 21:24] sayedihashimi commented on #249
@peterblazejewicz

I'm 99% sure it's shipped with the MVC tooling which is a part of VS. FYI that applies to ASP.NET 4, not ASP.NET 5 yet.

@devhammer

I'm hoping to see if it's possible to have parity with the templates that are available in Visual Studio. I

Are you referring to ASP.NET 5 or ASP.NET 4? In ASP.NET 4 we have the `Add New Scaffolded Item...` dialog which can take an EF Model and th

[2015-07-08 21:32] sayedihashimi opened #266 "Change Web Application Simple to Web Application Basic"
As discussed at https://github.com/OmniSharp/generator-aspnet/issues/190#issuecomment-118472786 we should change the name of the `Web Application Simple` template to `Web Application Basic`.

[2015-07-08 21:33] sayedihashimi commented on #190
Thanks @shanselman  and @peterblazejewicz, I've created a new issue to get the name changed from Simple to Baisc https://github.com/OmniSharp/generator-aspnet/issues/266.

[2015-07-08 21:35] sayedihashimi commented on #166
Closing since I don't see any needed action in `yo aspnet` besides #158.

[2015-07-08 21:35] #166 closed

[2015-07-08 21:36] sayedihashimi commented on #162
SignalR doesn't work with ASP.NET 5 yet.

cc @damianedwards

[2015-07-08 21:37] #164 closed

[2015-07-09 02:30] devhammer commented on #249
@sayedihashimi I'd love to help, and had started looking at the code to see if I could figure out a good way to get a start on this, but was looking at the beta 4 version, so I'll have to pull down the new version and start again.

Would love to chat, but probably not until next week. Client work needs to take priority this week.

[2015-07-09 02:33] devhammer commented on #249
@sayedihashimi With respect to the question on parity, I'm referring to the scaffolding available in VS2013 for Web API 2.

[2015-07-09 21:30] peterblazejewicz commented on #266
closed via: 9f00340

[2015-07-09 21:30] #266 closed

[2015-07-10 18:29] tlk commented on #182
aspnet/Home#729

[2015-07-10 21:58] #242 closed

[2015-07-15 15:43] misterzik opened #272 "How to quit ASP.NET Kestrel web server on a Mac (Using WebApplicationSimple)"
I'm running the WebAppliactionSimple app generated by YO!. Running kestrel, Everything runs great. Until the part where i have to shutdown my server.

When I hit Ctrl+C (or Enter), the server doesn't quit. So i went ahead and "kill" the process by using

    CTRL + Z

But now my next problem is that when i check

    ps

it's still running on the ttys0001, and the process is still on the backgroun

[2015-07-15 15:44] nosami commented on #272
`Ctrl+Z` doesn't kill, it suspends to the background. You can verify this by running the command `fg` for 'foreground'. You will see the app come back to life.

[2015-07-15 15:47] misterzik commented on #272
Thanks @nosami , what would be the best practice to stop the server from running at all?

[2015-07-15 15:58] nosami commented on #272
For now, you need to kill it.

I have the following function in my `~/.zshrc` to help (it will work inside `~/.bashrc` too)

[code]

Then I can run `killit kestrel` in a new terminal.

[2015-07-15 15:59] misterzik commented on #272
Guys,
So I was able to stop this by doing,

    CTRL + Z

to be able to exit from the hangup terminal, and afterwards i used;

    kill %1

Please let me know if there is a better way for this.

[2015-07-15 15:59] nosami commented on #272
Yeah... that will work too :)

[2015-07-15 16:00] misterzik commented on #272
@nosami Awesome! will def do it your way, looks sexier hehe. Thanks for help man.

[2015-07-15 16:38] #272 closed

[2015-07-21 17:51] rustd opened #273 "ASP.NET 5 Beta6 Console App Template"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 17:51] rustd opened #274 "ASP.NET 5 Beta6 Class Library project"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 17:52] rustd opened #275 "ASP.NET5 Beta6 Empty Web Template"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 17:53] rustd opened #276 "ASP.NET 5 beta6 WebApp with authentication template"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 17:54] rustd opened #277 "ASP.NET 5 beta6 WebApp No Auth project"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 17:54] rustd opened #278 "ASP.NET 5 beta6 WebAPI template"
Sample is uploaded http://1drv.ms/1LAz7uJ

[2015-07-21 19:36] peterblazejewicz commented on #171
for reference: example implementation to evaluate in different project:
https://github.com/nexumAG/generator-atomic/blob/master/organism/index.js#L51-L54

[2015-07-21 19:55] peterblazejewicz opened #279 "Updates for beta6"
The `beta6` release of asp.net 5 will be coming soon. The _target_ date is Monday 7/27, we would like to update `yo aspnet` on that same day if possible.

In this release the template changes are much less then in `beta5`. Also the refactoring work that was previously done by @peterblazejewicz will be very helpful to simplify the updates.

The work needed is listed below.
- [x] add a new [beta6](h

[2015-07-21 19:58] peterblazejewicz commented on #279
Label done:
https://github.com/OmniSharp/generator-aspnet/labels/beta6

[2015-07-22 11:20] Spinarooni commented on #273
I'll take a shot at this one.

[2015-07-22 19:28] peterblazejewicz commented on #273
Thanks!

[2015-07-22 20:05] sayedihashimi commented on #258
@rosieks I think that's a great idea for a new generator, perhaps `generator-aspnet-angular`. I have some comments about the goals of this generator and related generators at https://github.com/OmniSharp/generator-aspnet/wiki/goals-and-related-generators.

[2015-07-22 20:27] sayedihashimi commented on #258
@rosieks if you would like to get started with a yo generator I can outline what is needed.

I think the best thing to do is to clone [generator-aspnet](https://github.com/OmniSharp/generator-aspnet) and publish as a new project named `generator-aspnet-semanticui`. Don't fork it because forks on github are not indexed.

From there the goal will be to keep that repo in line with releases of [genera

[2015-07-22 21:05] peterblazejewicz commented on #274
Me
Thanks!

[2015-07-22 21:25] peterblazejewicz commented on #275
Me, thanks!

[2015-07-22 21:51] sayedihashimi commented on #273
@Spinarooni thanks! FYI I've added some details on getting started at https://github.com/OmniSharp/generator-aspnet/issues/279. Please keep an eye on that issue as we may add more details there.

@Spinarooni we are hoping to release on Monday in the morning (Pacific time). Ideally we'd like to have PRs submitted for all projects by Sunday at the latest. Please let us know if that will be an issue.

[2015-07-22 21:53] sayedihashimi commented on #274
Thanks @peterblazejewicz

[2015-07-22 21:53] peterblazejewicz commented on #278
Me, Thanks!

[2015-07-22 21:58] peterblazejewicz commented on #275
The https://github.com/OmniSharp/generator-aspnet/pull/281 by @Spinarooni covers this one already.
I've removed me as assingee and closed my PR. Thanks!

[2015-07-23 12:52] Spinarooni commented on #277
I'll try this one also.

[2015-07-23 19:48] peterblazejewicz commented on #276
Me, Thanks!

[2015-07-23 20:15] peterblazejewicz opened #286 "Does beta6 drop Grunt completely?"
/cc
@sayedihashimi @rustd
To be sure: I cannot find a Grunt reference and template in samples for Web applications for beta6.
Is this by decision or omission?
I know that Gulp is now default, just want to be sure that there is no changes in the projects that are created with Grunt option.
Thanks!

[2015-07-23 20:25] peterblazejewicz commented on #276
That's blocked:
https://github.com/OmniSharp/generator-aspnet/issues/286
The new samples comes without Grunt support. Wait until #286 is closed.

[2015-07-23 21:42] sayedihashimi commented on #286
In beta6 I don't think there were any changes to the default gulp file so I think the existing grunt file should continue to work. We should keep it if we can.

[2015-07-24 04:32] peterblazejewicz commented on #286
@sayedihashimi
Thanks! Sorry to sound overhyping, but just want to be sure (and that was late evening to be honest).
Solved

[2015-07-24 04:32] #286 closed

[2015-07-24 04:35] peterblazejewicz commented on #276
We are free to go, the Grunt templates and details simply didn't changed for beta6

[2015-07-24 21:53] peterblazejewicz commented on #276
This one does not restore, for details see PR:
https://github.com/OmniSharp/generator-aspnet/pull/288/

[2015-07-25 18:09] sayedihashimi commented on #273
Fixed in https://github.com/OmniSharp/generator-aspnet/commit/7a54d51d0cb3d5ff63b2888d5c08778f44297911 by @Spinarooni

[2015-07-25 18:09] #273 closed

[2015-07-25 18:18] sayedihashimi commented on #275
Fixed in https://github.com/OmniSharp/generator-aspnet/commit/29d3eacbc52a135d71dfb358c4e39843cb1dd07d by @Spinarooni

[2015-07-25 18:18] #275 closed

[2015-07-25 18:20] sayedihashimi commented on #274
Fixed in https://github.com/peterblazejewicz/generator-aspnet/commit/eb4ae80fd3f973347b65794c47b2b864c3d54967 by @peterblazejewicz

[2015-07-25 18:20] #274 closed

[2015-07-25 18:24] sayedihashimi commented on #277
Fixed in https://github.com/OmniSharp/generator-aspnet/commit/c8571d23b31dbe15b0644b668b0ea7cd8368d3b9 by @Spinarooni

[2015-07-25 18:24] #277 closed

[2015-07-25 19:51] peterblazejewicz commented on #278
closed via https://github.com/OmniSharp/generator-aspnet/commit/fa67a779fa1ae3bf65112d7f02a1e743fc668f15

[2015-07-25 19:51] #278 closed

[2015-07-25 19:59] sayedihashimi commented on #276
Fixed in https://github.com/OmniSharp/generator-aspnet/pull/288 by @peterblazejewicz

[2015-07-25 19:59] #276 closed

[2015-07-25 20:08] sayedihashimi commented on #279
@peterblazejewicz @Spinarooni thanks a lot for the contributions! I think that we are good to go here.

Once asp.net 5 beta6 goes out I'll merge to master and then release to get the npm package published.

I think we should put together a blog post for the [official ASP.NET team blog](http://blogs.msdn.com/b/webdev) similar to the [beta5 post](http://blogs.msdn.com/b/webdev/archive/2015/07/04/upd

[2015-07-25 20:10] #246 closed

[2015-07-25 21:38] Spinarooni commented on #279
@sayedihashimi I appreciate the opportunity.  However I will not be available until Monday to do anything so if it's needed before then I would not be a good choice.

[2015-07-25 22:20] sayedihashimi commented on #279
@Spinarooni no rush on the blog post. I think by the end of next week would be ideal.

[2015-07-26 16:22] hahmed opened #289 "Setting up project for git"
I have used the asp.net generator a couple of times for vnext projects, I am unsure how other devs are creating their web applications, but I always have a root Folder then the web app and tests sitting below.

When I am storing my project in Git, I want to save both projects into a single git repo.

When using the generator it seems as though it is a git repo per project. So if I use the yo gener

[2015-07-26 17:39] peterblazejewicz commented on #289
@hahmed
Created template project just ships with `.gitignore` file - that is not the same as initialised Git repo. The `Git` can have multiple `.gitignore` files, you could always remove one, etc.
When I create ASP5 with generator I usually use flat structure - the same as used in VisualStudio:
https://github.com/peterblazejewicz/AngularJS101
(recreation of VS created tutorial with generator).
Tha

[2015-07-27 12:24] Spinarooni commented on #279
@sayedihashimi Ok, I'll try to put something together.  What format would this need to be in,  Markdown, Word, etc?

[2015-07-28 23:43] sayedihashimi opened #290 "Upgrade to latest travis"
Travis has some new infrastructure and it looks like we should move to that. More info on migrating at http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade.

[2015-07-29 02:24] sayedihashimi opened #291 "Update npm test to fail when publish fails"
Currently if the publish to npm step fails the [travis build](https://travis-ci.org/OmniSharp/generator-aspnet) passes, for example https://travis-ci.org/OmniSharp/generator-aspnet/builds/73074286.

Ideally the build would fail in this case as well to notify everyone of the error.

Also related #290

[2015-07-29 02:36] sayedihashimi opened #292 "Automated publish no longer working"
There has been some changes and the [travis build](https://travis-ci.org/OmniSharp/generator-aspnet) is no longer publishing to npmjs.org. For example: https://travis-ci.org/OmniSharp/generator-aspnet/builds/73074286

@sayedihashimi will look into it.

[2015-07-29 02:39] sayedihashimi commented on #292
Related issue https://github.com/npm/npm/issues/8970

[2015-07-29 03:11] sayedihashimi commented on #279
Ok I've published a new version to npmjs.org. I ran into an issue #292 so had to push manually.

[2015-07-29 03:12] #279 closed

[2015-07-29 06:40] sayedihashimi commented on #165
OK I've added it at https://github.com/OmniSharp/generator-aspnet/commit/36eddf336b1a7c2e3279f4fa5b1a08050578c8a5

[2015-07-29 06:40] #165 closed

[2015-07-29 20:04] peterblazejewicz commented on #292
Looks like already fixed?

[2015-07-30 12:09] varghesep opened #294 "lib folder missing"
In the asp.net 5, there are three environments (1) Development (2) Staging and (3) Production. Using the command **set ASPNET_ENV = Development** at the command line, the project can be run with development settings. In the development environment, the **_Layout.cshtml*** refers a **lib** folder

[code]

During the scaffolding, the **lib** folders are not deployed which should contain the css and

[2015-07-30 13:41] Spinarooni commented on #294
@varghesep The lib folder is created when the bower packages are restored.  Have you tried running 'bower install' from the command line in the project directory?

[2015-07-30 15:50] varghesep commented on #294
Thank you. I ran **bower install** and it created the **lib** folder.

[2015-07-30 17:37] peterblazejewicz commented on #294
I think they guys at MS does not set yet how to automate the build process - they already added some relevant scripts to templates:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/project.json#L54-L62

@varghesep Does @Spinarooni answered your question?

[2015-07-30 17:44] peterblazejewicz opened #295 "Should we use 'postrestore' in 'project.json' script as supported build phase?"
In relation to #294 I have a doubt if we should use `prepublish` build phase in `project.json`:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/project.json#L54-L62
That exact step is not listed in the docs:
https://github.com/aspnet/Home/wiki/Project.json-file#scripts
http://json.schemastore.org/project

@sayedihashimi

[2015-07-30 17:51] Spinarooni commented on #294
@peterblazejewicz Could you use the "postrestore" event in project.json to restore the bower packages?

    "postrestore": [
      "npm install",
      "bower install"
    ]

[2015-07-30 17:53] sayedihashimi commented on #295
I think that wiki is our of date. The prepublish strip should be executed when dnu publish is called.

How do you suggest that we change it?

[2015-07-30 17:55] sayedihashimi commented on #294
We had that before. I think the problem was that Visual Studio calls restore and the scripts would take a while to execute. Adding @rustd and @madskristensen to comment back.

[2015-07-30 17:58] peterblazejewicz commented on #295
to 'postrestore', it works and is documented:
http://json.schemastore.org/project
https://github.com/OmniSharp/generator-aspnet/issues/294#issuecomment-126416670
[code]

[2015-07-30 17:59] peterblazejewicz commented on #295
Title changed

[2015-07-30 19:04] varghesep commented on #294
@peterblazejewicz Yes. I'm able to see the test website that I was working on.

[2015-07-30 19:29] varghesep opened #296 "Setting up the environment variable ASPNET_DEV"
It would have been nice if there was some documentation on setting up the Environment variable **ASPNET_DEV**. I followed the documentation on [Visual Studio Code](https://code.visualstudio.com/) to create the asp.net 5 application. The build is for Staging/Production by default if the environment is not set up at the OS system level. I don't know is it the right approach to control the build via

[2015-07-30 19:32] peterblazejewicz commented on #296
One needs to specify them either when running process (dnx) or within project configuration:
[code]
https://github.com/peterblazejewicz/CustomTagHelper/blob/master/src/project.json#L21

[2015-07-31 20:23] peterblazejewicz commented on #296
Also on Windows with IIS:
http://docs.asp.net/en/latest/fundamentals/environments.html?highlight=launchsettings

[2015-08-04 18:38] peterblazejewicz commented on #295
reference from docs:
http://docs.asp.net/en/latest/conceptual-overview/understanding-aspnet5-apps.html?highlight=postrestore

[2015-08-04 19:10] peterblazejewicz opened #298 "Make sure to switch `hosting.ini' to `hosting.json' when shipped"
A note: make sure in future changes to double-check, if provided templates do use changed 'hosting.json' files:
https://github.com/aspnet/Hosting/issues/269
https://github.com/aspnet/Hosting/pull/270

Thanks!

[2015-08-04 19:19] peterblazejewicz opened #299 "Add `dnx` to NPM project keywords for better indexing"
The NPM uses Elasticsearch to provide results and we are missing a `dnx` keyword in description.
This leads to situation when people can correctly find a generator using web crawler like Google with search:
[code]
but cannot find using the same keywords on NPM:
https://www.npmjs.com/search?q=dnx+generator

Thanks!

[2015-08-05 20:00] #299 closed

[2015-08-08 11:35] peterblazejewicz opened #303 "Add `applicationId` token generator for user secrets [feature]"
I'm writing a small project progression to use config/env and now user secrets store and I found a problem outlined in ASP5 documentation after battling how to use `user-secret` tool on OS X (so no VS):

https://github.com/aspnet/Home/wiki/DNX-Secret-Configuration#generator-support

Visual Studio: Visual Studio will generate a <SuperSecretStuffId> and put it in your project.json if you go through

[2015-08-08 11:40] peterblazejewicz commented on #303
Ops - I've just found we are doing it already for web project:
https://github.com/OmniSharp/generator-aspnet/blame/master/templates/projects/web/project.json#L3
and it was me who ported this as part of beta5 updates.

Still valid points for other types of projects (web basic/web api/etc)

[2015-08-08 12:22] peterblazejewicz commented on #256
closed via: e431caa9

[2015-08-08 12:22] #256 closed

[2015-08-10 11:20] Spinarooni commented on #303
Agreed.

[2015-08-10 20:35] peterblazejewicz commented on #303
@Spinarooni Thanks!

[2015-08-11 07:36] skrillux commented on #140
Anyone know if this is fixed now?

[2015-08-11 07:37] ahmetabdi commented on #140
Anyone know if this is fixed now? still getting it

[2015-08-11 18:59] peterblazejewicz opened #304 "'Kestrel' package should be renamed during beta7"
Make sure that `Kestrel` gets renamed in `beta7` in all project sources:
cross-reference:
https://github.com/aspnet/Announcements/issues/53

[2015-08-11 19:05] peterblazejewicz commented on #140
@ahmetabdi
I'm no longer getting that problem at all. I'm using:
[code]
[code]
[code]

Have you upgraded your dnvm?
http://docs.asp.net/en/latest/getting-started/installing-on-mac.html#installing-dnx
[code]

[2015-08-12 07:07] ahmetabdi commented on #140
``.NET Version Manager - Version 1.0.0-beta6-10380``

``yo aspnet``

Choose web application

``kpm restore``
``kpm build``

``k web`` =>

``System.TypeInitializationException: An exception was thrown by the type initializer for HttpApi ---> System.DllNotFoundException: httpapi.dll
  at (wrapper managed-to-native) Microsoft.Net.Http.Server.UnsafeNclNativeMethods/HttpApi:HttpInitialize (Microsoft.Ne

[2015-08-12 15:48] jrock2004 opened #305 "Selenium Project"
Does the generator support creating projects that will allow me to write automation tests? Or do I just create an empty project and go from there?

[2015-08-12 15:58] sayedihashimi commented on #305
We don't have any automation template. I think you'd start with either a console app or class library for that.

[2015-08-12 22:04] sayedihashimi commented on #140
This should be fixed, you'll need to install the latest dnvm. If you are having issues update homebrew and retap the dnvm repo and then install latest using info at https://github.com/aspnet/home

[2015-08-13 08:15] ahmetabdi commented on #140
Yeah it's fixed thanks all my generator was _VERY_ out of date!

[2015-08-13 18:36] rustd opened #307 "ASP.NET 5 Beta7 template updates"
Following templates will be updated
- ASP.NET Console
- ASP.NET Class
- ASP.NET Empty
- ASP.NET Web API
- ASP.NET Web App (No Auth)
- ASP.NET Web App (individual Auth)

[2015-08-13 19:46] peterblazejewicz opened #308 "Updates for beta7"
As @rustd posted beta7 announcement, here is a short tag list we usually do:

- [x] make [`beta7` branch](https://github.com/OmniSharp/generator-aspnet/tree/beta7)
- [x] add `beta7` label to tag content: https://github.com/OmniSharp/generator-aspnet/labels/beta7
- [x] [get build and development HOW-TO for contributors](https://github.com/OmniSharp/generator-aspnet/issues/319)
- [x] [ASP.NET Consol

[2015-08-13 19:47] peterblazejewicz commented on #307
@rustd Thanks, I've started #308 as beta7 release tasks list.

[2015-08-13 20:01] peterblazejewicz commented on #140
@ahmetabdi thanks for feedback!
I'm closing this issue now as out-dated due to framework progress.

[2015-08-13 20:01] #140 closed

[2015-08-13 20:31] sayedihashimi commented on #308
@rustd when you post the .zip files as issues we should update this issue with the links.

[2015-08-15 15:17] peterblazejewicz opened #309 "Make sure to update dnx related documentation and snippet for beta7"
`dnx` has breaking change in `beta7` which is changing how commands are to be run:
https://github.com/aspnet/Announcements/issues/52
We will have to check, validate and change generator documentation and usage files.
Thanks!

[2015-08-19 11:14] Spinarooni commented on #303
@peterblazejewicz If we add the`userSecretsId` property to project.json for other projects would we also want to add the `Microsoft.Framework.Configuration.UserSecrets` dependency?

[2015-08-23 03:21] rawberg opened #310 "Opening with Xamarin Studio?"
Does anybody have guidance on how to work with the generated projects in Xamarin Studio? Can't seem to import the generated directory into a new project. I can create blank project and add the files from the generated directory. Is there a better way?

[2015-08-23 03:36] sayedihashimi commented on #310
Sorry I'm not familiar with Xamarin, maybe someone else here is.

[2015-08-23 21:44] cveld opened #311 "Exceeded maximum path length"
I was trying out an app generated by the webapplication option and the --grunt switch within the aspnet generator and running the WebListener webserver. After a while the dnx runtime crashed due to an exception with regards to a file access with a path or filename that had exceeded the maximum allowed length:

<code>The specified path, file name, or both are too long. The fully qualified file name

[2015-08-23 21:53] peterblazejewicz commented on #311
@cveld
That's probably not `generator-aspnet` issue, but dnx one:
https://github.com/aspnet/dnx/issues/1173
https://github.com/aspnet/dnx/issues/2179
As you are probably running VS2015 - does it happen when you generate the same project type (with Grunt as option if possible) via VS2015?

[2015-08-23 22:04] sayedihashimi commented on #311
VS no longer has a grunt option.

I think the best thing to try is moving it to a shorter path and use the flatten packages package. In the long term I think npm v3 should hopefully solve this.

[2015-08-24 18:53] cveld commented on #311
About Grunt:
I believe the ASP.NET ecosystem should provide options and therefore also
provide a scenario to work with Grunt. Most of the
Angular/TypeScript/Webapi tutorials I found are towards Grunt by the way.
Strangely, Microsoft decided to go for Gulp only. There is no decision yet
in the community. Both tools attract an equal amount of fans.

About flattening the packages:
Can you help? Where

[2015-08-26 18:19] rustd commented on #308
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
Samples are here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:00] rustd opened #312 "ASP.NET Console for Beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
Sample is here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:03] rustd opened #313 "ASP.NET Class template for Beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
 Sample is here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:04] rustd opened #314 "ASP.NET Empty for beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
 Samples are here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:04] rustd opened #315 "ASP.NET WebAPI template for Beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
Samples are here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:05] rustd opened #316 "ASP.NET WebApp (No Auth) for beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
 Samples are here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:05] rustd opened #317 "ASP.NET Web App (With Auth) for beta7"
Feed used: https://www.myget.org/F/aspnetliterelease/api/v2
Samples are here: https://onedrive.live.com/redir?resid=43459A6389A804D9%21102054

[2015-08-26 19:06] rustd commented on #308
https://github.com/OmniSharp/generator-aspnet/issues/312
https://github.com/OmniSharp/generator-aspnet/issues/313
https://github.com/OmniSharp/generator-aspnet/issues/314
https://github.com/OmniSharp/generator-aspnet/issues/315
https://github.com/OmniSharp/generator-aspnet/issues/316
https://github.com/OmniSharp/generator-aspnet/issues/317

[2015-08-26 19:57] peterblazejewicz commented on #308
@sayedihashimi
As you are releasing to NPM, can you make sure we have everything up and cleaned, so `beta7` branch could be created (and we are ready to go)
We have 3 pending PRs but I think they are not blockers here and there are no other tickets that could stop work with `beta7` branch.
Thanks!

[2015-08-26 20:17] peterblazejewicz opened #318 ":question: Is there ASP.NET xUnit Test project template for beta7"
@rustd
@sayedihashimi
Is there xUnit template project update for `beta7` planned?
Thanks!

[2015-08-26 20:32] peterblazejewicz opened #319 "Beta7 configuration notes :information_source:"
It appears to work on my machine. Otherwise please correct. Based on past Sayed posts and @rustd remarks on feed for beta7

## Beta7 installation via dnvm
* set env variable to non-public beta7 feed
* install `beta7`

[code]

Now `beta7` should be listed as available in dnvm list:
[code]

## How to test with beta7 before packages go to nuget.org

To be more specific about how to test with beta7 be

[2015-08-26 20:33] peterblazejewicz commented on #308
configuration for `beta7` in one ticket: https://github.com/OmniSharp/generator-aspnet/issues/319

[2015-08-26 20:41] sayedihashimi commented on #318
@rustd can you post the xUnit beta7 .zip file?

[2015-08-26 20:47] peterblazejewicz commented on #308
/cc
@Spinarooni

[2015-08-26 20:48] peterblazejewicz commented on #313
Me, start small :)

[2015-08-26 21:21] peterblazejewicz commented on #312
Me, thanks!

[2015-08-26 22:25] Spinarooni commented on #316
@peterblazejewicz I'll take this one.

[2015-08-26 22:30] sayedihashimi commented on #316
@Spinarooni it seems like I should add you to the OmniSharp organization, let me know if you'd like an invite.

[2015-08-27 06:36] peterblazejewicz commented on #316
@Spinarooni
assigned - the `beta7` branch is already made from clean master so you could start with PR
Thanks!

[2015-08-27 06:37] peterblazejewicz commented on #314
Me, thanks!

[2015-08-27 07:06] peterblazejewicz commented on #319
Mind that `dnx` has been changed and commands in beta7 should be run directly without a path (if run from the same project directory):
https://github.com/aspnet/Announcements/issues/52
[code]

[2015-08-27 07:18] peterblazejewicz commented on #314
The updated project fails to run:
[code]
The error is thrown when using original template files.
I'm using steps from:
https://github.com/OmniSharp/generator-aspnet/issues/319

[code]

[2015-08-27 13:23] Spinarooni commented on #316
@peterblazejewicz @sayedihashimi I know that last time we specified the dependices in Beta6 as beta6 but again in the example files they are using *.  Do we use * or beta7?

	"Microsoft.AspNet.Diagnostics": "1.0.0-*",
	"Microsoft.AspNet.Mvc": "6.0.0-*",
	"Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-*",
	"Microsoft.AspNet.Server.IIS": "1.0.0-*",
	"Microsoft.AspNet.Server.Kestrel": "1.0.0-*",
	"Microso

[2015-08-27 15:20] Spinarooni commented on #316
When trying to use beta7 on restore I get this:

	Errors in C:\DevProjects\VSCode\WebApplicationBasic\project.json
    	Unable to locate Microsoft.Dnx.Compilation.CSharp.Common >= 1.0.0-beta7

Output:

	λ dnu restore -f https://nuget.org/api/v2/
	Microsoft .NET Development Utility CLR-x86-1.0.0-beta7-15524

	Restoring packages for C:\DevProjects\VSCode\WebApplicationBasic\project.json
	  CACHE htt

[2015-08-27 18:08] peterblazejewicz commented on #316
@Spinarooni
mind to check this, so we wouldn't override with empty script:
https://github.com/aspnet/Tooling/issues/132

[2015-08-27 18:12] Spinarooni commented on #316
@peterblazejewicz I made sure to retain that script reference.

[2015-08-27 18:18] peterblazejewicz commented on #316
I'm getting the same.
I think they haven't released that package to nuget feed yet, as it is not yet listed (or maybe I'm reading this list wrong):
https://www.myget.org/gallery/aspnetbeta7

I don't know - that's up to MS guys.

@sayedihashimi

[2015-08-27 18:19] peterblazejewicz commented on #315
Me, thanks!

[2015-08-27 18:43] peterblazejewicz commented on #315
This one does not restore and builds - similar to #316:
https://github.com/OmniSharp/generator-aspnet/issues/316#issuecomment-135466844

[code]

[2015-08-27 20:24] peterblazejewicz commented on #317
Me, thanks!

[2015-08-28 04:41] rustd commented on #318
There is no xUnit template since the xUnit bits are not compatible with beta7. This can be updated later when there is a xUnit package that works with beta7

[2015-08-28 17:48] Spinarooni commented on #316
With the new feed (http://myget.org/F/aspnetbeta7take2/api/v2) the restore works. However I am getting a compilation error on build:

	C:\DevProjects\VSCode\WebApplicationBasic\Startup.cs(43,27): DNXCore,Version=v5.0 error CS1061: 'ILoggerFactory'
		does not contain a definition for 'AddDebug' and no extension method 'AddDebug' accepting a first argument of
		type 'ILoggerFactory' could be found (

[2015-08-28 20:11] peterblazejewicz commented on #319
The info updated to use aspnetbeta7take2 nuget feed as per @rustd recent coments

[2015-08-28 20:41] peterblazejewicz commented on #316
@Spinarooni
You could be correct:
http://www.elanderson.net/2015/08/viewing-sql-for-entity-framework-7-queries/

Are you able to make a PR and update it with rebase and forced updates? It would be easier to help you with this. We add 'bug'/'blocking' tags to be sure that PR is not merged before issues are solved.

[2015-08-29 07:25] #312 closed

[2015-08-29 07:25] #313 closed

[2015-08-29 13:06] Spinarooni commented on #316
@peterblazejewicz I'll rebase and send a PR.

[2015-09-01 18:34] #314 closed

[2015-09-01 18:34] #315 closed

[2015-09-01 18:34] #316 closed

[2015-09-01 18:35] #307 closed

[2015-09-01 18:39] peterblazejewicz commented on #298
This one does not get implemented yet on upstream:
https://github.com/aspnet/Tooling/issues/140
Removing `beta7` tag

[2015-09-01 18:45] peterblazejewicz commented on #304
Done:
https://github.com/peterblazejewicz/generator-aspnet/blob/update/web-application/templates/projects/web/project.json#L29
https://github.com/Spinarooni/generator-aspnet/blob/c6bf0c201faa03dbd3d8e52b6539b8937fc59a62/templates/projects/webbasic/project.json#L10
https://github.com/peterblazejewicz/generator-aspnet/blob/c6355735790ff3a5de5922fcb700d4ecc1533c6f/templates/projects/webapi/project.js

[2015-09-01 18:45] #304 closed

[2015-09-01 20:11] sayedihashimi commented on #318
@rustd so there's no story for xUnit in beta7? That sucks that we shipped a template with it and it will no longer work.

[2015-09-02 05:57] peterblazejewicz commented on #317
closed via: https://github.com/OmniSharp/generator-aspnet/commit/6828e0d11dc3eaba727b30153654f715c9a90d92

[2015-09-02 05:57] #317 closed

[2015-09-02 05:59] peterblazejewicz commented on #308
@sayedihashimi
If we review documentation and ev. submit updates (the last task), the `beta7` is ready to ship

[2015-09-02 05:59] peterblazejewicz commented on #319
All updated and tested content is already merged into `beta7` branch
Closing

[2015-09-02 05:59] #319 closed

[2015-09-02 17:17] sayedihashimi commented on #308
@peterblazejewicz ok sounds great. I've got the release process figured out. I'll release when beta7 goes out. I think that is today but need to double check.

[2015-09-02 17:24] sayedihashimi opened #326 "Beta7 known issues"
## Known issues

 - [xUnit template still targets beta6](https://github.com/OmniSharp/generator-aspnet/issues/327) - the xUnit runner has not yet been updated for beta7 so it still targets beta6. When beta7 support is released we will update it.
 - [Nancy project doesn't run](https://github.com/OmniSharp/generator-aspnet/issues/328)

[2015-09-02 17:59] sayedihashimi opened #327 "Update xUnit for beta7"
xUnit runner hasn't been updated for beta7 yet. When it is we should update the yo generator for it.

[2015-09-02 18:01] sayedihashimi opened #328 "Nancy template doesn't run on beta7"
When running the Nancy template with beta7 we get the following error.

[code]

cc @jchannon

[2015-09-02 18:05] sayedihashimi commented on #326
@peterblazejewicz @Spinarooni thanks a lot for all your contributions in `beta7`. I want to make sure that @shanselman is aware that you guys have helped out for this release.

@peterblazejewicz @Spinarooni once we fix the issues above we should think about blogging about the update in the [official ASP.NET team blog](http://blogs.msdn.com/b/webdev/). It's a great chance to get your name on the of

[2015-09-02 18:08] jchannon commented on #328
Bug in DNX? Looks like it's trying to find a interface registration in the
aspnet DI which Nancy probably won't use

On Wednesday, 2 September 2015, Sayed Ibrahim Hashimi <
notifications@github.com> wrote:

[2015-09-02 18:11] PinpointTownes commented on #328
@jchannon are you sure it's not simply caused by a packages/DNX runtime versions mismatch?

[2015-09-02 18:13] sayedihashimi commented on #328
@jchannon @PinpointTownes I'm not sure I haven't investigate it yet. I was hoping that either @jchannon or someone else would be able to. I think it's probably some refactoring that has happened and we need to add a new dependency to it.

[2015-09-02 18:39] peterblazejewicz commented on #328
@sayedihashimi
I'm getting the same:
[code]

[2015-09-02 18:43] peterblazejewicz commented on #309
closed via: https://github.com/OmniSharp/generator-aspnet/commit/b097cc20146678c9b187d392e59601c60b5e6fc0

[2015-09-02 18:43] #309 closed

[2015-09-02 18:45] jchannon commented on #328
OK this works for beta7 on my machine

Its posiblly because the nancy project.json has 1.0.0-* and I suspect is
pulling in beta8 packages??

On 2 September 2015 at 19:39, Peter Blazejewicz <notifications@github.com>
wrote:

[2015-09-02 18:49] peterblazejewicz commented on #328
with this bits:
[code]
it does work on my OS X machine, should I make PR?
@sayedihashimi can you quickly test?

[2015-09-02 18:51] sayedihashimi commented on #328
I'm busy for the next hour bit will try it soon after that.

[2015-09-02 18:52] jchannon commented on #328
actually it works fine "as is" so maybe @sayedihashimi has a dodgy setup?

[2015-09-02 18:52] peterblazejewicz commented on #328
@jchannon
I had to make above changes in `project.json` to make current template work with setup for beta7 we used for other templates

[2015-09-02 18:53] jchannon commented on #328
<img width="855" alt="screen shot 2015-09-02 at 19 53 19" src="https://cloud.githubusercontent.com/assets/105126/9641004/4b22ab98-51ac-11e5-8f15-e85caf287854.png">

Works on my machine! :smile:

[2015-09-02 18:58] peterblazejewicz commented on #308
All tasks from above list are closed and PRs merged. The `beta7` branch is already merged.
You could see other issues/task related to `beta7` and their status here:
https://github.com/OmniSharp/generator-aspnet/labels/beta7
Thank!

[2015-09-02 18:58] #308 closed

[2015-09-02 18:59] peterblazejewicz commented on #318
Guys, closing in favour of:
https://github.com/OmniSharp/generator-aspnet/issues/327
Thanks!

[2015-09-02 18:59] #318 closed

[2015-09-02 19:35] peterblazejewicz commented on #326
@sayedihashimi
I'm not sure if beta7 branch has been merged back to master fully:
https://github.com/OmniSharp/generator-aspnet/commits/beta7

[2015-09-02 19:37] jchannon commented on #328
Merged PR with beta7 explicitly defined

[2015-09-02 19:37] #328 closed

[2015-09-02 19:43] peterblazejewicz commented on #328
also:
https://github.com/OmniSharp/generator-aspnet/pull/331

[2015-09-02 19:58] sayedihashimi commented on #326
@peterblazejewicz thanks for letting me know I just updated it. After we get the xUnit and Nancy template updated I'll push another release.

[2015-09-02 20:10] peterblazejewicz commented on #326
You're welcome :)

[2015-09-02 20:12] peterblazejewicz commented on #326
@sayedihashimi
we have already updated Nancy:
https://github.com/OmniSharp/generator-aspnet/commit/e7db397abc5cabb52a02195718b752878a43a57c
https://github.com/OmniSharp/generator-aspnet/commit/bdc1ed0d54a757c848472c5992843b7772b92fc8

[2015-09-02 22:46] potatman commented on #326
The 0.7.1 build in NPMJS is supposed to be beta7 right?  I pulled down that build via npm update and the resulting project is still the same as beta6.  All refs in project.json are to beta6, which clearly is not an issue if I pull down the source for the generator instead.

[2015-09-02 23:12] sayedihashimi commented on #326
Thanks @potatman, I think it was a merge error on my part. I've merged all changes and started a new build for `0.0.72` https://travis-ci.org/OmniSharp/generator-aspnet/builds/78492009.

[2015-09-02 23:16] sayedihashimi commented on #326
@potatman OK, `0.0.72` is now available. I tried it and it contains `beta7`.

[2015-09-02 23:51] potatman commented on #326
Cool, thanks, the rebuild fixed it for me.

[2015-09-03 02:23] JaimeStill commented on #326
I just did a full Web App build of beta7, and the only issue I ran into was the using statements in the Views > _ViewImports.cshtml file. Rather than @using MyWebApp, they were targeting @using WebApplication.

[2015-09-03 11:25] Spinarooni opened #332 "Namespace generated incorrectly in Web App _ViewImports.cshtml"
Reference [https://github.com/OmniSharp/generator-aspnet/issues/326#issuecomment-137302801](https://github.com/OmniSharp/generator-aspnet/issues/326#issuecomment-137302801)

[2015-09-03 11:31] Spinarooni commented on #326
@JaimeStill Should be fixed with PR https://github.com/OmniSharp/generator-aspnet/pull/333

[2015-09-03 12:55] JaimeStill commented on #326
Awesome, thanks!

[2015-09-03 18:27] peterblazejewicz commented on #332
closed via:
https://github.com/Spinarooni/generator-aspnet/commit/fe773043d1e49f1e9770af538e57275741d41e4a

[2015-09-03 18:27] #332 closed

[2015-09-04 00:47] MaherJendoubi opened #334 ""npm update -g generator-aspnet" is generating beta5 instead of beta7"
After installing all the tooling for asp.net beta 7 and doing npm install -g generator-aspnet (generator-aspnet version: 0.0.72), I get the following beta 5 stuff instead of beta 7!!
![image](https://cloud.githubusercontent.com/assets/1798510/9674287/40360e74-52af-11e5-808a-6c097ad531d3.png)

[2015-09-04 02:30] sayedihashimi commented on #334
That looks right to me, the only thing I can think to try is clear your npm cache, uninstall and reinstall.

[2015-09-04 03:09] sayedihashimi commented on #332
FYI I just released version `0.0.73` which contains this fix.

cc @chrisdias

[2015-09-04 08:41] egamma opened #335 "Incorrect 'commands' generated for a ConsoleApplication"
version: generator-aspnet@0.0.73

Generate a ConsoleApplication.

This generates an incorrect 'commands':
`
  "commands": {
    "ConsoleApplication": "ConsoleApplication"
  },
`
It should be:
`
  "commands": {
    "ConsoleApplication": "run"
  },
`

[2015-09-04 11:33] MaherJendoubi commented on #334
I cleared my npm cache, uninstalled and reinstalled but in vain always beta5 references are generated...

[2015-09-04 12:33] MaherJendoubi commented on #334
I have 2 machines one win7 and the other is win10. I tested on my win7 it works but still my problem on windows 10.

[2015-09-04 16:48] sayedihashimi commented on #335
Thanks @egamma, by default we do create the command in the form ``` "commands": { "ConsoleApplication": "ConsoleApplication" }``` which is consistent with what Visual Studio does.

I tried both ``` "commands": { "ConsoleApplication": "ConsoleApplication" }, ``` and ```"commands": { "ConsoleApplication": "run" }``` and they both run successfully on both windows/mac and look to do the same thing.

I

[2015-09-04 18:57] peterblazejewicz commented on #335
@sayedihashimi @glennc
https://github.com/aspnet/Tooling/issues/161

[2015-09-04 19:17] peterblazejewicz commented on #334
@MaherJendoubi
[code]
This will list a complete list of your NPM packages installed with `-g` flag. It should list `generator-aspnet`, its path and version.
For example on my machine (OS X) it lists:
[code]
which is correct - it means that the symlink in my `/usr/local/lib` points to development version of generator (we are using it locally while developing).
Your one should point different locati

[2015-09-04 20:49] egamma commented on #335
On beta7 the launch fails, when changing the command to 'run' then the launch succeeds.

`
System.InvalidOperationException: Unable to load application or execute command 'ConsoleApplication'. Available commands: ConsoleApplication.
   at Microsoft.Dnx.ApplicationHost.Program.ThrowEntryPointNotfoundException(DefaultHost host, String applicationName, Exception innerException)
   at Microsoft.Dnx.Ap

[2015-09-04 21:25] peterblazejewicz commented on #335
@egamma Thanks, we will check.

@sayedihashimi
I can only get that error reported when the command name is e.g. misspelled, e.g. `dnx ConsoleApppplication`:
[code]
It looks that dnx does not find correct command on Erich machine.

[2015-09-04 21:31] MaherJendoubi commented on #334
I'm on Windows 10 and here is the result of npm list -g --depth=0

![image](https://cloud.githubusercontent.com/assets/1798510/9694905/16cf4286-535d-11e5-9111-71255d1586d8.png)

[2015-09-04 21:35] sayedihashimi commented on #335
@egamma it's working for me on both mac and windows. See below for mac.
[code]

I think @peterblazejewicz is on to something here. Are you sure that you typed the command name exactly as in `project.json`? The error you reported is surfaced when the command name is not found. If so then did you upgrade `dnvm` along with dnx? If not maybe that could be the cause.

This does bring us back to the iss

[2015-09-04 21:41] sayedihashimi commented on #335
Hmm I just looked at the error message provided more closely

So it looks like you have the command name exactly as it's shown in Available commands: I'm not sure what may cause this.

@davidfowl any idea what might be happening here?

[2015-09-04 21:41] egamma commented on #335
regarding the dnx command. This is what I get from where dnx:
`
C:\Users\egamma\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta7\bin\dnx.exe
`

Verified that I didn't mistype by copying and pasting the name of the command from the project.json.

[2015-09-04 21:43] sayedihashimi commented on #335
ok let's see if @davidfowl has any ideas.

[2015-09-04 21:55] egamma commented on #335
Just making sure that I provide all the data. Regarding dnvm update - these were my installation steps:
deleted the .dnx folder
installed dnvm
set DNX_UNSTABLE_FEED=”https://www.myget.org/F/aspnetliterelease/api/v2”
dnvm upgrade

[2015-09-05 07:17] davidfowl commented on #335
Why are you using any feed? beta7 is on nuget now.

[2015-09-05 14:49] egamma commented on #335
Well, how do I know (all I want is to test whether VS Code supports beta7)?

I tried again with the official beta7. I still see the same problem. This is the dnvm upgrade output

[code]

[2015-09-05 15:53] sayedihashimi commented on #334
I'm baffled here, maybe it would help to open an issue with npm?

[2015-09-05 15:56] MaherJendoubi commented on #334
good idea why not? Thanks.

[2015-09-06 15:26] scottaddie opened #337 "Upgrade to latest Gulp version"
I created a Web Application Basic and noticed the generator's package.json file references version 3.8.11 of Gulp. When the latest version of Gulp (3.9.0) is installed globally, the following warning appears when running a Gulp task:

Warning: gulp version mismatch:
Global gulp is 3.9.0
Local gulp is 3.8.11

The package.json file should be updated to reference 3.9.0.

![gulp_issue_screenshot](http

[2015-09-06 16:00] scottaddie opened #338 "Remove duplicate Bootstrap "btn-default" class"
When generating a Web Application Basic, the Views/Home/Index.cshtml file's "Learn More" anchor tag has 2 occurrences of the Bootstrap "btn-default" CSS class applied to it. Please remove one of them.

[2015-09-06 18:27] peterblazejewicz commented on #338
@scottaddie
Thanks!
Yes, we already know this. We resubmit content to other repository (all templates are prepared by MS VisualStudio tooling team):
https://github.com/aspnet/Tooling/issues/156
Please add your +1 in the linked issue.

[2015-09-06 18:52] scottaddie commented on #338
@peterblazejewicz +1 added to the linked issue. Thank you!

[2015-09-06 19:14] peterblazejewicz commented on #337
@scottaddie
Yes, I've seen the same.
Please upvote:
https://github.com/gulpjs/gulp/releases

@sayedihashimi
The 3.8.11 is from Feb, the 3.9.* is from July. These are warnings and do not prevent from building:
https://github.com/gulpjs/gulp/releases

[2015-09-07 16:37] bstenberg64 commented on #334
@MaherJendoubi, this is happening to me too although I'm on Windows 8.1 (still). Did you raise an issue with npm or should I?

[2015-09-07 16:56] MaherJendoubi commented on #334
Sorry not yet! Would you please raise it? Thanks.

[2015-09-07 18:11] bstenberg64 commented on #334
No worries. I'm not sure it's an npm issue though. The app still won't deploy correctly from github to azure. I'll look into it and get back.

[2015-09-07 18:37] sayedihashimi commented on #334
@bstenberg64 if you don't think it's an npm issue than what could it be?